<body>
    <div class="container bg-light border border-start-0 rounded-4">
        <blockquote class="blockquote text-dark" style="margin-top: 5%">
            <h1><strong> GOBIERNO AUTONOMO DESCENTRALIZADO MUNICIPAL DEL CANTON SANTA ISABEL</strong></h1>
            <h1><strong>REGISTRO DE PLAN OPERATIVO ANUAL</strong></h1>
        </blockquote>
        <div></div>
        <div class="card">
            <div class="card-body">
                <div class="table-container">
                    <div class="table-row">
                        <div class="table-cell"><strong>DIRECCION DEPARTAMENTAL: </strong>PLANIFICACION</div>
                        <div class="table-cell"><strong>RESPONSABLE:</strong> NICOLÁS CEVALLOS CABRERA</div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell"><strong>AREA QUE PRESENTA EL PROYECTO:</strong> JEFATURA DE
                            PRODUCCION Y
                            COMERCIALIZACIÓN</div>
                        <div class="table-cell"><strong>SUPERVISION DEL PROYECTO:</strong> NICOLÁS CEVALLOS
                            CABRERA
                        </div>
                    </div>
                </div>
                <div class="table-container">
                    <div class="table-row">
                        <div class="table-cell colspan-2 centered-cell"><strong>AÑO DE EJECUCIÓN DEL
                                PROYECTO:</strong>
                            2004-2018
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div class="table-container">
                    <div class="table-row">
                        <div class="table-cell">
                            <button class="button">Seleccionar Proyecto</button>
                        </div>
                    </div>
                </div>
                <div class="table-container">
                    <div class="table-row">
                        <div class="table-cell"><strong>DENOMINACION DEL PROGRAMA PROYECTO:</strong></div>
                        <div class="table-cell centered">PROPUESTA DE ESTUDIOS
                            Y CONSTRUCCION DE RESERVORIOS EN EL CANTON SANTA ISABEL, CON PRIORIDAD, PARROQUIA
                            SHAGLLI</div>
                        <div class="table-cell wide-cell centered">AST-001</div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell"><strong>DESCRIPCION DEL PROGRAMA PROYECTO:</strong></div>
                        <div class="table-cell centered">ASENTAMIENTOS HUMANOS</div>
                        <div class="table-cell wide-cell"></div>
                    </div>
                </div>
                <br />
                <br />
                <div class="table-container">
                    <div class="table-row">
                        <div class="table-cell"><strong>NOMBRE PROGRAMA/PROYECTO:</strong></div>
                        <div class="table-cell ">PROPUESTA DE ESTUDIOS
                            Y CONSTRUCCION DE RESERVORIOS EN EL CANTON SANTA ISABEL, CON PRIORIDAD, PARROQUIA
                            SHAGLLI</div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell"><strong>ODS:</strong></div>
                        <div class="table-cell ">PROPUESTA DE ESTUDIOS
                            Y CONSTRUCCION DE RESERVORIOS EN EL CANTON SANTA ISABEL, CON PRIORIDAD, PARROQUIA
                            SHAGLLI</div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell"><strong>OBJETIVO PND:</strong></div>
                        <div class="table-cell ">PROPUESTA DE ESTUDIOS
                            Y CONSTRUCCION DE RESERVORIOS EN EL CANTON SANTA ISABEL, CON PRIORIDAD, PARROQUIA
                            SHAGLLI</div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell"><strong>OBJETIVO ESTRATEGICO DEL PDOT:</strong></div>
                        <div class="table-cell ">PROPUESTA DE ESTUDIOS
                            Y CONSTRUCCION DE RESERVORIOS EN EL CANTON SANTA ISABEL, CON PRIORIDAD, PARROQUIA
                            SHAGLLI</div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell"><strong>OBJETIVO DEL PROGRAMA/PROYECTO:</strong></div>
                        <div class="table-cell ">PROPUESTA DE ESTUDIOS
                            Y CONSTRUCCION DE RESERVORIOS EN EL CANTON SANTA ISABEL, CON PRIORIDAD, PARROQUIA
                            SHAGLLI</div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell"><strong>INDICADOR DE LA META:</strong></div>
                        <div class="table-cell ">PROPUESTA DE ESTUDIOS
                            Y CONSTRUCCION DE RESERVORIOS EN EL CANTON SANTA ISABEL, CON PRIORIDAD, PARROQUIA
                            SHAGLLI</div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell"><strong>META DEL PROGRAMA/PROYECTO:</strong></div>
                        <div class="table-cell ">PROPUESTA DE ESTUDIOS
                            Y CONSTRUCCION DE RESERVORIOS EN EL CANTON SANTA ISABEL, CON PRIORIDAD, PARROQUIA
                            SHAGLLI</div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell"><strong>LINEA BASE:</strong></div>
                        <div class="table-cell ">PROPUESTA DE ESTUDIOS
                            Y CONSTRUCCION DE RESERVORIOS EN EL CANTON SANTA ISABEL, CON PRIORIDAD, PARROQUIA
                            SHAGLLI</div>
                    </div>
                </div>
                <br />
                <br />
                <div class="table-container">
                    <div class="table-row">
                        <div class="table-cell">

                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>Cobertura</mat-label>
                                <input matInput value="">
                            </mat-form-field>
                        </div>
                        <div class="table-cell">
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>Barrio</mat-label>
                                <input matInput value="">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell">
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>Localizacion</mat-label>
                                <input matInput value="">
                            </mat-form-field>
                        </div>
                        <div class="table-cell">
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>Comunidad</mat-label>
                                <input matInput value="">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div class="table-container">
                    <div class="table-row">
                        <div class="table-cell">
                            <button class="button">Agregar actividades</button>
                        </div>
                    </div>
                </div>
                <div class="table-container">

                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                        <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->

                        <!-- Position Column -->

                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef class="centered"> Actividades </th>
                            <td mat-cell *matCellDef="let element" class="wide-content-cell"> {{element.name}} </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="weight">
                            <th mat-header-cell *matHeaderCellDef class="centered"> Presupuesto Referencial </th>
                            <td mat-cell *matCellDef="let element" class="text-align-left wide-rest-cell">
                                {{element.weight}} </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="symbol">
                            <th mat-header-cell *matHeaderCellDef class="centered"> Ejecucion e Inversion </th>
                            <td mat-cell *matCellDef="let element" class="  centered">
                                <button class="button ">Ver</button>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="eliminar">
                            <th mat-header-cell *matHeaderCellDef class="centered"> Eliminar </th>
                            <td mat-cell *matCellDef="let element" class="  centered">
                                <button mat-mini-fab class="btn-eliminar">
                                    <mat-icon>delete</mat-icon>
                                </button>

                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>


                </div>
            </div>
        </div>
    </div>
</body>