<body>
    <div class="container bg-light border border-start-0 rounded-4">
        <blockquote style="margin-top: 5%; background-color: #ffffff; border-left: 10px solid green;">
            <h1 style="text-transform: uppercase" class="header-title"><strong> GOBIERNO AUTONOMO DESCENTRALIZADO
                    MUNICIPAL DEL CANTON SANTA ISABEL</strong></h1>
            <h1 style="text-transform: uppercase" class="header-title"><strong>REGISTRO DE PLAN OPERATIVO ANUAL</strong>
            </h1>
        </blockquote>
        <div></div>
        <div class="card">
            <div class="card-body">
                <div class="table-container">
                    <div class="table-row">
                        <div class="table-cell"><strong>DIRECCION DEPARTAMENTAL:
                            </strong>{{projectSelect.nombre_programa}}
                        </div>
                        <div class="table-cell"><strong>RESPONSABLE:</strong>
                            {{persona.primer_nombre}} {{persona.segundo_nombre}} {{persona.primer_apellido}}
                            {{persona.segundo_apellido}}
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell"><strong>AREA QUE PRESENTA EL PROYECTO:</strong> {{projectSelect.area}}
                        </div>
                        <div class="table-cell"><strong>SUPERVISION DEL PROYECTO:</strong>
                            {{projectSelect.nombre_completo_persona}} </div>
                    </div>
                </div>
                <div class="table-container">
                    <div class="table-row">
                        <div class="table-cell colspan-2 centered-cell"><strong>AÑO DE EJECUCIÓN DEL
                                PROYECTO:</strong>
                            {{projectSelect.rango_fechas}}
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div class="table-container">
                    <div class="table-row">
                        <div class="table-cell" style="display: flex; flex-direction: column; gap: 8px;">
                            <button class="button" (click)="openDialogProjects()">Seleccionar Proyecto</button>
                            <mat-form-field>
                                <mat-label>Tipo de seguimiento</mat-label>
                                <mat-select [(value)]="selectedPeriod">
                                    <mat-option></mat-option>
                                    <mat-option [value]="option.value" *ngFor="let option of periodo">{{ option.value
                                        }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="table-container">
                    <div class="table-row">
                        <div class="table-cell"><strong>DENOMINACION DEL PROGRAMA PROYECTO:</strong></div>
                        <div class="table-cell centered">
                            {{projectSelect.nombre}}
                        </div>
                        <div class="table-cell wide-cell centered">
                            {{projectSelect.codigo}}
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell"><strong>DESCRIPCION DEL PROGRAMA PROYECTO:</strong></div>
                        <div class="table-cell centered">
                            {{projectSelect.nombre_programa}}
                        </div>
                        <div class="table-cell wide-cell"></div>
                    </div>
                </div>
                <br />
                <br />
                <div class="table-container">
                    <div class="table-row">
                        <div class="table-cell"><strong>NOMBRE PROGRAMA/PROYECTO:</strong></div>
                        <div class="table-cell ">
                            {{projectSelect.nombre}}
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell"><strong>ODS:</strong></div>
                        <div class="table-cell ">
                            {{projectSelect.nombre_objetivo_ods}}
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell"><strong>OBJETIVO PND:</strong></div>
                        <div class="table-cell ">
                            {{projectSelect.nombre_objetivo_pnd}}
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell"><strong>OBJETIVO ESTRATEGICO DEL PDOT:</strong></div>
                        <div class="table-cell ">
                            {{projectSelect.nombre_objetivo_pdot}}
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell"><strong>OBJETIVO DEL PROGRAMA/PROYECTO:</strong></div>
                        <div class="table-cell ">
                            {{projectSelect.objetivo_proyecto}}
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell"><strong>INDICADOR DE LA META:</strong></div>
                        <div class="table-cell ">
                            {{projectSelect.nombre_indicador}}
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell"><strong>META DEL PROGRAMA/PROYECTO:</strong></div>
                        <div class="table-cell ">
                            {{projectSelect.nombre_meta_pdot}}
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell"><strong>META PLANIFICADA:</strong></div>
                        <div class="table-cell ">
                            <input [(ngModel)]="metaPlanificada" class="form-control" type="text" id="meta" name="meta"
                                style="width: 100%; margin-bottom: 10px" appCurrencyInput />
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell"><strong>LINEA BASE:</strong></div>
                        <div class="table-cell ">
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div class="table-container">
                    <div class="table-row">
                        <div class="table-cell">

                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>Cobertura</mat-label>
                                <input [(ngModel)]="cobertura" matInput value="">
                            </mat-form-field>
                        </div>
                        <div class="table-cell">
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>Barrio</mat-label>
                                <input [(ngModel)]="barrio" matInput value="">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell">
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>Localizacion</mat-label>
                                <input [(ngModel)]="localizacion" matInput value="">
                            </mat-form-field>
                        </div>
                        <div class="table-cell">
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>Comunidad</mat-label>
                                <input [(ngModel)]="comunidad" matInput value="">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div class="table-container">
                    <div class="table-row">
                        <div class="table-cell">
                            <button class="button" data-bs-toggle="modal" data-bs-target="#materiaModal">Agregar
                                actividades</button>
                        </div>
                    </div>
                </div>
                <div class="table-container">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef class="centered"> Actividades </th>
                            <td mat-cell *matCellDef="let element" class="wide-content-cell"> {{element.nombre}} </td>
                        </ng-container>


                        <ng-container matColumnDef="presupuesto_referencial">
                            <th mat-header-cell *matHeaderCellDef class="centered"> Presupuesto Referencial </th>
                            <td mat-cell *matCellDef="let element" class="text-align-left wide-rest-cell">
                                ${{element.presupuesto_referencial | number:'1.2-2' }} </td>
                        </ng-container>


                        <ng-container matColumnDef="inversion">
                            <th mat-header-cell *matHeaderCellDef class="centered"> Ejecucion e Inversion </th>
                            <td mat-cell *matCellDef="let element; let i=index" class="  centered">
                                <button class="button " data-bs-toggle="modal" data-bs-target="#materiaModal"
                                    (click)="editarInformacion(i)">Ver</button>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="eliminar">
                            <th mat-header-cell *matHeaderCellDef class="centered"> Eliminar </th>
                            <td mat-cell *matCellDef="let element; let i=index" class="  centered">
                                <button mat-mini-fab class="btn-eliminar" (click)="eliminar(i)">
                                    <mat-icon>delete</mat-icon>
                                </button>

                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                <br />
                <br />
                <div class="table-container">
                    <div class="table-row">
                        <div class="table-cell"><strong>Recursos Propios:</strong></div>
                        <div class="table-cell ">${{recursosPropios | number:'1.2-2' }}</div>
                        <div class="table-cell"><strong>Recursos Externos:</strong></div>
                        <div class="table-cell ">${{recursosExternos | number:'1.2-2' }}</div>
                    </div>
                </div>
                <br />
                <br />
                <div class="table-container">
                    <div class="table-row">
                        <div class="table-cell wide-cell"><strong>{{selectedPeriod}} 1:</strong></div>
                        <div class="table-cell ">${{valueUno | number:'1.2-2' }}</div>
                    </div>
                </div>
                <div class="table-container">
                    <div class="table-row">
                        <div class="table-cell wide-cell"><strong>{{selectedPeriod}} 2:</strong></div>
                        <div class="table-cell ">${{valueDos | number:'1.2-2' }}</div>
                    </div>
                </div>
                <div class="table-container">
                    <div class="table-row">
                        <div class="table-cell wide-cell"><strong>{{selectedPeriod}} 3:</strong></div>
                        <div class="table-cell ">${{valueTres | number:'1.2-2' }}</div>
                    </div>
                </div>
                <div class="table-container">
                    <div class="table-row">
                        <div class="table-cell wide-cell" *ngIf="selectedPeriod === 'TRIMESTRE'">
                            <strong>{{selectedPeriod}}
                                4:</strong>
                        </div>
                        <div class="table-cell " *ngIf="selectedPeriod === 'TRIMESTRE'">${{valueCuatro | number:'1.2-2'
                            }}</div>
                    </div>
                </div>
                <div class="table-container ">
                    <div class="table-row">
                        <div class="table-cell wide-cell"><strong>TOTAL:</strong></div>
                        <div class="table-cell">${{totalActividades | number:'1.2-2' }}</div>
                    </div>
                </div>

                <br />
                <br />
                <div class="table-container">
                    <div class="table-row">
                        <div class="table-cell"><strong>Nombre funcionario:</strong></div>
                        <div class="table-cell ">
                            {{persona.primer_nombre}} {{persona.segundo_nombre}} {{persona.primer_apellido}}
                            {{persona.segundo_apellido}}
                        </div>
                        <div class="table-cell"><strong>Cargo:</strong></div>
                        <div class="table-cell ">
                            {{persona.cargo}}
                        </div>
                        <div class="table-cell"><strong>Fecha de emisión:</strong></div>
                        <div class="table-cell ">
                            {{ currentDate | date: 'dd/MM/yyyy' }}
                        </div>
                    </div>
                </div>
                <br />
                <br />

                <button class="button" (click)="solicitud()">Enviar Solicitud</button>
            </div>
        </div>
    </div>


    <div class="modal fade" id="materiaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
        (hidden.bs.modal)="limpiarFormulario()">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #077b15">
                    <h3 class="modal-title" style="font-family: Arial, sans-serif; color: white">
                        <i class="fa fa-info-circle"></i> AGREGAR ACTIVIDADES
                    </h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formulario" [formGroup]="formComponentes" (ngSubmit)="guardar()">
                        <div class="form-group">
                            <label for="nombre">Nombre de la actividad:</label>
                            <input class="form-control" formControlName="nombre" type="text" id="nombre" name="nombre"
                                style="margin-bottom: 10px" />
                            <div class="alert alert-danger"
                                *ngIf="formComponentes.controls['nombre'].invalid && formComponentes.controls['nombre'].touched">
                                <div *ngIf="formComponentes.controls['nombre'].hasError('required')">
                                    Debe ingresar un nombre a la actividad
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="observacion">Descripción:</label>
                            <textarea class="form-control" formControlName="observacion" id="observacion"
                                name="observacion" style="margin-bottom: 10px"></textarea>
                        </div>


                        <div class="form-group">
                            <label for="recursos_propios">Recursos Propios:</label>
                            <input class="form-control" formControlName="recursos_propios" type="text"
                                id="recursos_propios" name="recursos_propios" style="margin-bottom: 10px"
                                appCurrencyInput autocomplete="off" />
                        </div>
                        <div class="form-group">
                            <label for="recursos_externos">Recursos Externos:</label>
                            <input class="form-control" formControlName="recursos_externos" type="text"
                                id="recursos_externos" name="recursos_externos" style="margin-bottom: 10px"
                                appCurrencyInput autocomplete="off" />
                        </div>

                        <div class="form-group">
                            <label for="institucion_beneficiaria">Institucion Beneficiaria:</label>
                            <input class="form-control" formControlName="institucion_beneficiaria" type="text"
                                id="institucion_beneficiaria" name="institucion_beneficiaria"
                                style="margin-bottom: 10px" />
                        </div>
                    </form>
                    <section class="example-section">
                        <span class="example-list-section">
                            <ul>
                                <li *ngFor="let subtask of getSubtasks(); let last = last">
                                    <mat-checkbox [(ngModel)]="subtask.completed" color="#077b15"
                                        (ngModelChange)="updateAllComplete()">
                                        {{selectedPeriod}} {{subtask.position}}:
                                    </mat-checkbox>
                                </li>
                            </ul>
                        </span>
                    </section>
                    <div class="modal-footer">
                        <button type="button" form="formulario" class="btn btn-warning" data-bs-dismiss="modal">
                            Cancelar
                        </button>
                        <button type="submit" class="btn btn-primary" form="formulario" *ngIf="!componentes.nombre"
                            data-dismiss="modal" data-bs-dismiss="modal" [disabled]="!formComponentes.valid">
                            Agregar
                        </button>
                        <button class="btn btn-primary" *ngIf="componentes.nombre" data-dismiss="modal"
                            data-bs-dismiss="modal" (click)="actualizar(i)" [disabled]="!formComponentes.valid">
                            Actualizar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>