<body>
    <div class="container">
        <blockquote style="margin-top: 1%; background-color: #ffffffe3; border-left: 10px solid green;">
            <h1 class="header-title margin-"><strong> CONÓCE A NUESTRO EQUIPO</strong></h1>
        </blockquote>
        <div class="space-div">
            <div class="profile">
                <img src="assets/team/LOGOTEC.png">
                <br />
                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur natus aut numquam deserunt
                    asperiores impedit modi! Laboriosam eaque nostrum quas molestias suscipit perferendis earum animi,
                    unde fugiat. Accusamus, quaerat quas?</h5>
            </div>
        </div>
        <div class="space-div"></div>
        <div class="profiles margin-top: 200px">
            <div class="row" *ngFor="let grupo of grupos; let last = last">
                <div class="profile" *ngFor="let perfil of grupo">
                    <a (click)="redireccionar(perfil.enlace)" target="_blank">
                        <img [src]="perfil.imagen" class="profile-img">
                    </a>
                    <div class="profile-info">
                        <h3 class="user-name">{{ perfil.apellidos }}</h3>
                        <h3 class="user-name">{{ perfil.nombres }}</h3>
                        <h5>Tel. {{ perfil.contacto }}</h5>
                        <h5>{{ perfil.correo }}</h5>
                        <h5 (click)="redireccionar(perfil.enlace)" target="_blank"
                            style="text-decoration: none; color: inherit;">
                            <span onmouseover="this.style.color='green'" onmouseout="this.style.color='inherit'">{{
                                perfil.git }}</span>
                        </h5>
                    </div>
                </div>
                <div class="profile" *ngIf="last"></div>
            </div>
        </div>
    </div>
</body>