<body>
    <div class="container">
        <h1 class="heading"> <span> meet</span> Our team</h1>
        <div class="profiles">
            <div class="profile">
                <a href="https://www.tecazuay.edu.ec/main/index.php" target="_blank">
                    <!-- target="_blank" abre la página en una nueva pestaña -->
                    <img src="assets/team/LOGOTEC.jpg" class="profile-img">
                </a>
                <h3 class="user-name"> TEC AZUAY</h3>
                <h5>Instituto Universitario</h5>
                <p>0995363076</p>
            </div>
            <div class="profile">
                <img src="assets/team/ola.jpeg" class="profile-img">
                <h3 class="user-name">Jhudyt</h3>
                <h5> Creative Director</h5>
                <p></p>
            </div>

            <div class="profile">
                <img src="assets/team/ola.jpeg" class="profile-img">
                <h3 class="user-name"> Miriam</h3>
                <h5> Creative Director</h5>
                <p></p>
            </div>
        </div>
        <div class="profiles">
            <div class="profile">
                <img src="assets/team/ola.jpeg" class="profile-img">
                <h3 class="user-name"> Ejemplo</h3>
                <h5> Creative Director</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur natus aut numquam deserunt
                    asperiores impedit modi! Laboriosam eaque nostrum quas molestias suscipit perferendis earum animi,
                    unde fugiat. Accusamus, quaerat quas?</p>
            </div>
            <div class="profile">
                <img src="assets/team/ola.jpeg" class="profile-img">
                <h3 class="user-name"> Jhudyt</h3>
                <h5> Creative Director</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur natus aut numquam deserunt
                    asperiores impedit modi! Laboriosam eaque nostrum quas molestias suscipit perferendis earum animi,
                    unde fugiat. Accusamus, quaerat quas?</p>
            </div>

            <div class="profile">
                <img src="assets/team/ola.jpeg" class="profile-img">
                <h3 class="user-name"> Miriam</h3>
                <h5> Creative Director</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur natus aut numquam deserunt
                    asperiores impedit modi! Laboriosam eaque nostrum quas molestias suscipit perferendis earum animi,
                    unde fugiat. Accusamus, quaerat quas?</p>
            </div>
        </div>
        <div class="profiles">
            <div class="profile">
                <img src="https://img.freepik.com/foto-gratis/chico-guapo-seguro-posando-contra-pared-blanca_176420-32936.jpg"
                    class="profile-img">
                <h3 class="user-name"> Ejemplo</h3>
                <h5> Creative Director</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur natus aut numquam deserunt
                    asperiores impedit modi! Laboriosam eaque nostrum quas molestias suscipit perferendis earum animi,
                    unde fugiat. Accusamus, quaerat quas?</p>
            </div>
            <div class="profile">
                <img src="https://img.freepik.com/foto-gratis/chico-guapo-seguro-posando-contra-pared-blanca_176420-32936.jpg"
                    class="profile-img">
                <h3 class="user-name"> Jhudyt</h3>
                <h5> Creative Director</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur natus aut numquam deserunt
                    asperiores impedit modi! Laboriosam eaque nostrum quas molestias suscipit perferendis earum animi,
                    unde fugiat. Accusamus, quaerat quas?</p>
            </div>

            <div class="profile">
                <img src="https://img.freepik.com/foto-gratis/chico-guapo-seguro-posando-contra-pared-blanca_176420-32936.jpg"
                    class="profile-img">
                <h3 class="user-name"> Miriam</h3>
                <h5> Creative Director</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur natus aut numquam deserunt
                    asperiores impedit modi! Laboriosam eaque nostrum quas molestias suscipit perferendis earum animi,
                    unde fugiat. Accusamus, quaerat quas?</p>
            </div>
        </div>
    </div>
</body>