.fullscreen-spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-----------------------*/
.flex-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
    /* Espacio adicional en la parte superior */
}

mat-form-field {
    width: 100%;
}

mat-form-field .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
    border-radius: 8px;
    overflow: hidden;
}

.mat-select-panel {
    border-radius: 8px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.rounded-button {
    border-radius: 25px;
    padding: 10px 20px;
}

.custom-colorRegresar {
    color: #1F7B81;
}

.custom-colorSiguiente {
    color: #1F7B81;
}

.custom-colorBorrar {
    color: #2AABBD;
}

.custom-colorCancel {
    color: #FF0000;
}

.custom-colorGuardar {
    color: #343298;
}

mat-error {
    color: red;
    font-weight: bold;
}

.custom-red-button {
    background-color: #FF0000;
    color: #FFFFFF; /* Color del texto */
}