<body>
    <div class="container bg-light border border-start-0 rounded-4">
        <!--Listado de usuarios-->
        <blockquote class="blockquote text-dark" style="margin-top: 5%">
            <h1><strong> POA </strong></h1>
        </blockquote>
        <!-- Tarjetas -->
        <div class="d-flex justify-content-center align-items-center flex-wrap">
            <!-- Tarjetas Dinámicas -->
            <mat-card class="example-card mx-2 my-2" *ngFor="let card of cardsToShow">
                <div class="card-content-wrapper"> <!-- Envoltorio para el contenido de la tarjeta -->
                    <mat-card-header>
                        <mat-card-subtitle>{{ card.subtitle }}</mat-card-subtitle>
                        <mat-card-title>{{ card.title }}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{ card.content }}</p>
                    </mat-card-content>
                </div>
                <mat-divider></mat-divider>
                <mat-card-actions class="card-actions"> <!-- Clase adicional para acciones de la tarjeta -->
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
                <mat-card-footer>
                    <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
                </mat-card-footer>
            </mat-card>
        </div>

        <!-- Paginación -->
        <div class="d-flex justify-content-center my-4">
            <mat-paginator [length]="totalCards" [pageSize]="pageSize" [pageSizeOptions]="[3]" showFirstLastButtons
                (page)="onPageChange($event)">
            </mat-paginator>

        </div>

    </div>
</body>