<body>
  <div class="container bg-light border border-start-0 rounded-4">
    <blockquote class="blockquote text-dark" style="margin-top: 5%">
      <h1 style="text-transform: uppercase" class="titulo">
        <strong><a style="cursor: pointer" (click)=" verPoas()">LISTADO POAS
          </a>
          >
          <a class="titulo">ACTIVIDADES </a></strong>
      </h1>
    </blockquote>
    <div class="card">
      <div class="card-body">
        <div role="search" id="buscar">
          <div class="form-group">
            <input type="text" class="form-control" name="filterPost3" placeholder="Buscar..." [(ngModel)]="filterPost"
              (input)="aplicarFiltro()" />
          </div>
          <br />
          <br />
        </div>
        <div class="mat-elevation-z8 table-responsive" style="margin-bottom: 5%">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="id_actividad">
              <th mat-header-cell *matHeaderCellDef>ID</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.id_actividad }}
              </td>
            </ng-container>
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef>NOMBRE</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.nombre }}
              </td>
            </ng-container>
            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef>DESCRIPCIÓN</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.descripcion }}
              </td>
            </ng-container>
            <ng-container matColumnDef="presupuesto_referencial">
              <th mat-header-cell *matHeaderCellDef>PRESUPUESTO REFERENCIAL</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.presupuesto_referencial }}
              </td>
            </ng-container>
            <ng-container matColumnDef="recursos_propios">
              <th mat-header-cell *matHeaderCellDef>R. PROPIOS</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.recursos_propios }}
              </td>
            </ng-container>
            <ng-container matColumnDef="codificado">
              <th mat-header-cell *matHeaderCellDef>CODIFICADO</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.codificado }}
              </td>
            </ng-container>
            <ng-container matColumnDef="devengado">
              <th mat-header-cell *matHeaderCellDef>DEVENGADO</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.devengado }}
              </td>
            </ng-container>
            <ng-container matColumnDef="estado">
              <th mat-header-cell *matHeaderCellDef>ESTADO</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.estado }}
              </td>
            </ng-container>
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
              <td mat-cell *matCellDef="let element">
                <button class="btn btn-sm btn-custom-red" title="Asignar Presupuesto Externo" data-bs-toggle="modal"
                  data-bs-target="#materiaModal1" (click)="abrirModal(element.id_actividad)">
                  <i class="fas fa-file-invoice-dollar" style="color:  hsl(156, 81%, 21%); font-size: 24px;"></i>
                </button>
                <button class="btn btn-sm btn-custom-red" title="Asignar Reforma Suplemento" data-bs-toggle="modal"
                  data-bs-target="#materiaModal2" (click)="abrirModal(element.id_actividad)">
                  <i class="fas fa-plus" style="color:  yellow; font-size: 24px;"></i>
                </button>
                <button class="btn btn-sm btn-custom-red" title="Asignar Traspaso Incremento" data-bs-toggle="modal"
                  data-bs-target="#materiaModal3" (click)="abrirModal(element.id_actividad)">
                  <i class="fas fa-chart-line" style="color:  blue; font-size: 24px;"></i>
                </button>
                <button class="btn btn-sm btn-custom-red" title="Asignar Traspaso Decremento" data-bs-toggle="modal"
                  data-bs-target="#materiaModal4" (click)="abrirModal(element.id_actividad)">
                  <i class="fas fa-chart-line icon-inverted" style="color:  red; font-size: 24px;"></i>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnasUsuario"></tr>
            <tr mat-row *matRowDef="let fila; columns: columnasUsuario"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements" itemsPerPageLabel="Items por página:"
            nextPageLabel="Siguiente" previousPageLabel="Anterior">
          </mat-paginator>
        </div>
        <!--Modal 1 para presupuesto externo-->
        <div class="modal fade" id="materiaModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
          (hidden.bs.modal)="limpiarFormulario1()">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header" style="background-color: darkgreen; color: white;">
                <h3 class="modal-title">
                  <i class="fa fa-info-circle"></i> PRESUPUESTO EXTERNO
                </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form [formGroup]="frmPE" (ngSubmit)="guardarPE()" id="formulario">
                  <div>
                    <label for="nombre_institucion">Contribuyente:</label>
                    <input class="form-control" formControlName="nombre_institucion" type="text" id="nombre_institucion"
                      name="nombre_institucion" style="margin-bottom: 10px" />
                    <div class="alert alert-danger" *ngIf="
                      frmPE.controls['nombre_institucion'].hasError('required') &&
                      frmPE.controls['nombre_institucion'].touched">
                      Debe ingresar un nombre de la institución contribuyente.
                    </div>
                    <div class="alert alert-danger" *ngIf="
                      frmPE.controls['nombre_institucion'].hasError('caracteresEspeciales') &&
                      frmPE.controls['nombre_institucion'].touched">
                      El nombre no debe contener caracteres especiales.
                    </div>

                    <label for="valor">Valor Presupuesto:</label>
                    <input class="form-control" formControlName="valor" type="number" id="valor" name="valor"
                      style="margin-bottom: 10px" min="0" />
                    <div class="alert alert-danger" *ngIf="
                      frmPE.controls['valor'].invalid &&
                      frmPE.controls['valor'].touched
                      ">
                      <div *ngIf="
                        frmPE.controls['valor'].hasError('required')
                        ">
                        Debe ingresar un valor
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="fecha">Fecha:</label>
                      <div class="input-group">
                        <input type="date" id="fecha" name="fecha" formControlName="fecha" class="form-control"
                          (change)="validarFechas()" />
                      </div>
                      <div class="alert alert-danger" *ngIf="frmPE.get('fecha')?.hasError('fechaAnterior')">
                        No puedes elegir una fecha anterior al año actual.
                      </div>
                    </div>

                    <label for="observacion">Observacion:</label>
                    <textarea class="form-control" formControlName="observacion" id="observacion" name="observacion"
                      style="margin-bottom: 10px" rows="3"></textarea>
                    <div class="alert alert-danger" *ngIf="
                      frmPE.controls['observacion'].hasError('caracteresEspeciales') &&
                      frmPE.controls['observacion'].touched
                    ">
                      No debe contener caracteres especiales.
                    </div>

                  </div>
                </form>
                <div class="modal-footer">
                  <button type="button" form="formulario" class="btn btn-warning" data-bs-dismiss="modal">
                    Cancelar
                  </button>
                  <button type="submit" class="btn btn-primary" form="formulario"
                    *ngIf="!presupuestoexterno.id_presupuesto_externo" data-dismiss="modal" data-bs-dismiss="modal"
                    style="background-color: green" [disabled]="!frmPE.valid">
                    Agregar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Modal 2 para reforma suplemento-->
        <div class="modal fade" id="materiaModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
          (hidden.bs.modal)="limpiarFormulario2()">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header" style="background-color: darkgreen; color: white;">
                <h3 class="modal-title">
                  <i class="fa fa-info-circle"></i> REFORMA SUPLEMENTO
                </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form [formGroup]="frmRS" (ngSubmit)="guardarRS()" id="formulario2">
                  <div>
                    <label for="valor">Valor Reforma Suplemento: </label>
                    <input class="form-control" formControlName="valor" type="number" id="valor" name="valor"
                      style="margin-bottom: 10px" min="0" />
                    <div class="alert alert-danger" *ngIf="
                    frmRS.controls['valor'].invalid &&
                    frmRS.controls['valor'].touched
                      ">
                      <div *ngIf="
                      frmRS.controls['valor'].hasError('required')
                        ">
                        Debe ingresar un valor
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="fecha">Fecha:</label>
                      <div class="input-group">
                        <input type="date" id="fecha" name="fecha" formControlName="fecha" class="form-control"
                          (change)="validarFechas()" />
                      </div>
                    </div>
                  </div>
                </form>
                <div class="modal-footer">
                  <button type="button" form="formulario" class="btn btn-warning" data-bs-dismiss="modal">
                    Cancelar
                  </button>
                  <button type="submit" class="btn btn-primary" form="formulario2"
                    *ngIf="!reformasuplemento.id_ref_suplemento" data-dismiss="modal" data-bs-dismiss="modal"
                    style="background-color: green" [disabled]="!frmRS.valid">
                    Agregar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Modal 3 para reforma traspaso incremento-->
        <div class="modal fade" id="materiaModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
          (hidden.bs.modal)="limpiarFormulario3()">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header" style="background-color: darkgreen; color: white;">
                <h3 class="modal-title">
                  <i class="fa fa-info-circle"></i> REFORMA TRASPASO INCREMENTO
                </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form [formGroup]="frmRTI" (ngSubmit)="guardarRTI()" id="formulario3">
                  <div>
                    <label for="valor">Valor Traspaso Incremento:</label>
                    <input class="form-control" formControlName="valor" type="number" id="valor" name="valor"
                      style="margin-bottom: 10px" min="0" />
                    <div class="alert alert-danger" *ngIf="
                    frmRTI.controls['valor'].invalid &&
                    frmRTI.controls['valor'].touched
                      ">
                      <div *ngIf="
                      frmRTI.controls['valor'].hasError('required')
                        ">
                        Debe ingresar un valor
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="fecha">Fecha:</label>
                      <div class="input-group">
                        <input type="date" id="fecha" name="fecha" formControlName="fecha" class="form-control"
                          (change)="validarFechas()" />
                      </div>
                    </div>
                  </div>
                </form>
                <div class="modal-footer">
                  <button type="button" form="formulario" class="btn btn-warning" data-bs-dismiss="modal">
                    Cancelar
                  </button>
                  <button type="submit" class="btn btn-primary" form="formulario3" *ngIf="!rtincremento.id_reftras_i"
                    data-dismiss="modal" data-bs-dismiss="modal" style="background-color: green"
                    [disabled]="!frmRTI.valid">
                    Agregar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Modal 4 para reforma traspaso decremento-->
        <div class="modal fade" id="materiaModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
          (hidden.bs.modal)="limpiarFormulario4()">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header" style="background-color: darkgreen; color: white;">
                <h3 class="modal-title">
                  <i class="fa fa-info-circle"></i> REFORMA TRASPASO DECREMENTO
                </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form [formGroup]="frmRTD" (ngSubmit)="guardarRTD()" id="formulario4">
                  <div>
                    <label for="valor">Valor Traspaso Decremento:</label>
                    <input class="form-control" formControlName="valor" type="number" id="valor" name="valor"
                      style="margin-bottom: 10px" min="0" />
                    <div class="alert alert-danger" *ngIf="
                    frmRTD.controls['valor'].invalid &&
                    frmRTD.controls['valor'].touched
                      ">
                      <div *ngIf="
                      frmRTD.controls['valor'].hasError('required')
                        ">
                        Debe ingresar un valor
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="fecha">Fecha:</label>
                      <div class="input-group">
                        <input type="date" id="fecha" name="fecha" formControlName="fecha" class="form-control"
                          (change)="validarFechas()" />
                      </div>
                    </div>
                  </div>
                </form>
                <div class="modal-footer">
                  <button type="button" form="formulario" class="btn btn-warning" data-bs-dismiss="modal">
                    Cancelar
                  </button>
                  <button type="submit" class="btn btn-primary" form="formulario4" *ngIf="!rtdecremento.id_reftras_d"
                    data-dismiss="modal" data-bs-dismiss="modal" style="background-color: green"
                    [disabled]="!frmRTD.valid">
                    Agregar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--SELECT PARA LISTAR TIPOS DE PRESUPUESTOS-->
        <mat-select [(value)]="opcionSeleccionada" (selectionChange)="seleccionarOpcion($event)" class="custom-select">
          <mat-option value="visualizarAsignaciones">Asignaciones de Presupuesto de Actividad</mat-option>
          <mat-option value="presupuestoExterno">Listar Presupuestos Externos</mat-option>
          <mat-option value="reformaSuplemento">Listar Reformas Suplementos</mat-option>
          <mat-option value="rtincremento">Listar Reforma Traspaso Incrementos</mat-option>
          <mat-option value="rtdecremento">Listar Reforma Traspaso Decremento</mat-option>
        </mat-select><br/><br/>
        
        <!-- LISTAR TABLAS DE PRESUPUESTOS-->
        <div *ngIf="opcionSeleccionada === 'presupuestoExterno'" class="mat-elevation-z8 table-responsive">
          <table mat-table [dataSource]="dataSource2">
            <ng-container matColumnDef="id_presupuesto_externo">
              <th mat-header-cell *matHeaderCellDef>ID</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.id_presupuesto_externo }}
              </td>
            </ng-container>
            <ng-container matColumnDef="nombre_institucion">
              <th mat-header-cell *matHeaderCellDef>NOMBRE CONTRIBUYENTE</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.nombre_institucion }}
              </td>
            </ng-container>
            <ng-container matColumnDef="valor">
              <th mat-header-cell *matHeaderCellDef>VALOR</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.valor }}
              </td>
            </ng-container>
            <ng-container matColumnDef="fecha">
              <th mat-header-cell *matHeaderCellDef>FECHA</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.fecha }}
              </td>
            </ng-container>
            <ng-container matColumnDef="observacion">
              <th mat-header-cell *matHeaderCellDef>OBSERVACION</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.observacion }}
              </td>
            </ng-container>
            <ng-container matColumnDef="nombreActividad">
              <th mat-header-cell *matHeaderCellDef>Actividad</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.nombreActividad }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnasUsuario2"></tr>
            <tr mat-row *matRowDef="let fila; columns: columnasUsuario2"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements" itemsPerPageLabel="Items por página:"
            nextPageLabel="Siguiente" previousPageLabel="Anterior">
          </mat-paginator>
        </div>
        <!-- LISTAR TABLAS DE REFORMA SUPLEMENTOS-->
        <div *ngIf="opcionSeleccionada === 'reformaSuplemento'" class="mat-elevation-z8 table-responsive">
          <table mat-table [dataSource]="dataSource3">
            <ng-container matColumnDef="id_ref_suplemento">
              <th mat-header-cell *matHeaderCellDef>ID</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.id_ref_suplemento }}
              </td>
            </ng-container>
            <ng-container matColumnDef="valor">
              <th mat-header-cell *matHeaderCellDef>VALOR</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.valor }}
              </td>
            </ng-container>
            <ng-container matColumnDef="fecha">
              <th mat-header-cell *matHeaderCellDef>FECHA</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.fecha }}
              </td>
            </ng-container>
            <ng-container matColumnDef="nombreActividad">
              <th mat-header-cell *matHeaderCellDef>Actividad</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.nombreActividad }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnasUsuario3"></tr>
            <tr mat-row *matRowDef="let fila; columns: columnasUsuario3"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements" itemsPerPageLabel="Items por página:"
            nextPageLabel="Siguiente" previousPageLabel="Anterior">
          </mat-paginator>
        </div>
        <!-- LISTAR TABLAS DE REFORMAS TRASPASO INCREMENTO-->
        <div *ngIf="opcionSeleccionada === 'rtincremento'" class="mat-elevation-z8 table-responsive">
          <table mat-table [dataSource]="dataSource4">
            <ng-container matColumnDef="id_reftras_i">
              <th mat-header-cell *matHeaderCellDef>ID</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.id_reftras_i }}
              </td>
            </ng-container>
            <ng-container matColumnDef="valor">
              <th mat-header-cell *matHeaderCellDef>VALOR</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.valor }}
              </td>
            </ng-container>
            <ng-container matColumnDef="fecha">
              <th mat-header-cell *matHeaderCellDef>FECHA</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.fecha }}
              </td>
            </ng-container>
            <ng-container matColumnDef="nombreActividad">
              <th mat-header-cell *matHeaderCellDef>Actividad</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.nombreActividad }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnasUsuario4"></tr>
            <tr mat-row *matRowDef="let fila; columns: columnasUsuario4"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements" itemsPerPageLabel="Items por página:"
            nextPageLabel="Siguiente" previousPageLabel="Anterior">
          </mat-paginator>
        </div>
        <!-- LISTAR TABLAS DE REFORMAS TRASPASOS DECREMENTOS-->
        <div *ngIf="opcionSeleccionada === 'rtdecremento'" class="mat-elevation-z8 table-responsive">
          <table mat-table [dataSource]="dataSource5">
            <ng-container matColumnDef="id_reftras_d">
              <th mat-header-cell *matHeaderCellDef>ID</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.id_reftras_d }}
              </td>
            </ng-container>
            <ng-container matColumnDef="valor">
              <th mat-header-cell *matHeaderCellDef>VALOR</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.valor }}
              </td>
            </ng-container>
            <ng-container matColumnDef="fecha">
              <th mat-header-cell *matHeaderCellDef>FECHA</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.fecha }}
              </td>
            </ng-container>
            <ng-container matColumnDef="nombreActividad">
              <th mat-header-cell *matHeaderCellDef>Actividad</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.nombreActividad }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnasUsuario5"></tr>
            <tr mat-row *matRowDef="let fila; columns: columnasUsuario5"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements" itemsPerPageLabel="Items por página:"
            nextPageLabel="Siguiente" previousPageLabel="Anterior">
          </mat-paginator>
        </div>
        
      </div>
    </div>
  </div>
</body>