.header-title {
    font-size: 30px;
    font-weight: bold;
    color:green; /* You can choose your preferred color */
    text-align: left;
  }
  .meta-planificada {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right; /* Alinea el texto a la derecha */
  }
  
  .meta-label {
    flex: 1; /* Ocupa el espacio restante en el contenedor */
  }
  
  .meta-value {
    margin-left: 10px; /* Agrega un margen izquierdo para separar el valor de la etiqueta */
  }