.pdf-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajusta según tus necesidades */
  padding: 2rem;
}

.pdf-viewer {
  width: 80%; /* Ajusta según tus necesidades */
  height: 80vh; /* Ajusta según tus necesidades */
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
