<body>
  <div class="container bg-light border border-start-0 rounded-4">
    <blockquote
      class="blockquote text-dark"
      style="
        margin-top: 5%;
        background-color: #ffffff;
        border-left: 10px solid green;
      "
    >
      <h1 style="text-transform: uppercase" class="titulo">
        <strong
          ><a style="cursor: pointer" (click)="verPoas()">LISTADO DE POAS </a>
          >
          <a>LISTADO DE ACTIVIDADES </a></strong
        >
      </h1>
    </blockquote>
    <div></div>
    <div *ngIf="dataSource.data.length === 0">
      <div class="example-card-vacio d-flex justify-content-center align-items-center flex-column">
        <img src="assets/img/data_not_found.png" alt="" style="margin-bottom: 10px; height: 180px; width: 180px" />
        <span style="color: #6a737b; font-size:large ;">Este Poa no tiene Actividades pendientes de Aprobar</span>
      </div>
    </div>
    <div class="card" *ngIf="dataSource.data.length > 0">
      <div class="card-body">
        <input
          type="text"
          class="form-control"
          name="filterPost3"
          placeholder="Buscar por nombre ..."
          [(ngModel)]="filterPost"
          (input)="buscar()"
          (ngModelChange)="buscar()"
        />

        <br />

        <div
          class="mat-elevation-z8 table-responsive"
          style="margin-bottom: 5%"
        >
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="id_actividad">
              <th mat-header-cell *matHeaderCellDef>ID</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.id_actividad }}
              </td>
            </ng-container>

            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef>NOMBRE</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.nombre_actividad }}
              </td>
            </ng-container>
            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef>DESCRIPCIÓN</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.descripcion }}
              </td>
            </ng-container>
            <ng-container matColumnDef="responsable">
              <th mat-header-cell *matHeaderCellDef>RESPONSABLE</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.responsable }}
              </td>
            </ng-container>
            <ng-container matColumnDef="historial">
              <th mat-header-cell *matHeaderCellDef>VER DETALLES</th>
              <td mat-cell *matCellDef="let elemento">
                <button
                  class="btn btn-primary"
                  role="button"
                  data-bs-toggle="modal"
                  style="background-color: green;"
                  data-bs-target="#materiaModalObservaciones"
                  (click)="verDetalles(elemento)"
                >
                  <div class="d-flex">
                    <i class="fa fa-question-circle"></i>
                  </div>
                </button>
              </td>
            </ng-container>
            <ng-container matColumnDef="detalle">
              <th mat-header-cell *matHeaderCellDef>HISTORIAL</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.descripcion }}
              </td>
            </ng-container>
            <ng-container matColumnDef="evaluar">
              <th mat-header-cell *matHeaderCellDef>EVALUAR</th>
              <td mat-cell *matCellDef="let elemento">
                <button
                  class="btn btn-primary"
                  role="button"
                  data-bs-toggle="modal"
                  data-bs-target="#materiaModal"
                  style="background-color: green;"
                  (click)="seleccionar(elemento)"
                >
                  <div class="d-flex">
                    <span class="badge">{{
                      elemento.cantidadObjetivoPDOT
                    }}</span>
                    <i class="fa fa-comment"></i>
                  </div>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnasUsuario"></tr>
            <tr mat-row *matRowDef="let fila; columns: columnasUsuario"></tr>
          </table>
          <mat-paginator
            [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons
            aria-label="Select page of periodic elements"
            itemsPerPageLabel="Items por página:"
            nextPageLabel="Siguiente"
            previousPageLabel="Anterior"
          >
          </mat-paginator>
          <div *ngIf="!resultadosEncontrados" class="alert alert-warning">
            No se encontraron resultados.
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<div
  class="modal fade"
  id="materiaModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #077b15">
        <h3
          class="modal-title"
          style="font-family: Arial, sans-serif; color: white"
        >
          <i class="fa fa-info-circle"></i> EVALUAR
        </h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="Limpiar()"
        ></button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body" style="height: 100%">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Usuario Evaluador</mat-label>
              <input
                name="usuario"
                matInput
                disabled
                [value]="
                  user.persona.primer_nombre +
                  '  ' +
                  user.persona.primer_apellido
                "
              />
            </mat-form-field>

            <div class="container text-center">
              <div class="row">
                <div class="col-8">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Estado</mat-label>
                    <input
                      matInput
                      name="estado"
                      disabled
                      [(ngModel)]="estado"
                    />
                  </mat-form-field>
                </div>
                <div class="col-4">
                  <button mat-fab class="thumb-up" (click)="Aprobar()">
                    <mat-icon>thumb_up</mat-icon>
                  </button>

                  <button mat-fab class="thumb-down" (click)="Rechazar()">
                    <mat-icon>thumb_down</mat-icon>
                  </button>
                </div>
              </div>
            </div>

            <div class="form-floating">
              <textarea
                class="form-control"
                placeholder="Leave a comment here"
                id="floatingTextarea2"
                style="height: 100px"
                [(ngModel)]="observacion"
              ></textarea>
              <label for="floatingTextarea2">Observación</label>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            form="formulario"
            class="btn btn-warning"
            data-bs-dismiss="modal"
            (click)="Limpiar()"
          >
            Cancelar
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            form="formulario"
            data-dismiss="modal"
            data-bs-dismiss="modal"
            (click)="guardar()"
            style="background-color: green;"

            [disabled]="!estado"
          >
            Agregar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="materiaModalObservaciones"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  (hidden.bs.modal)="limpiarObservacion()"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #077b15">
        <h3
          class="modal-title"
          style="font-family: Arial, sans-serif; color: white"
        >
          <i class="fa fa-info-circle"></i> OBSERVACIONES
        </h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body" style="height: 100%">
            <div
              class="mat-elevation-z8 table-responsive"
              style="margin-bottom: 5%"
            >
              <table mat-table [dataSource]="observacionsSource">
                <ng-container matColumnDef="observacion">
                  <th mat-header-cell *matHeaderCellDef>OBSERVACIÓN</th>
                  <td mat-cell *matCellDef="let elemento">
                    {{
                      elemento.observacion ? elemento.observacion : "NINGUNA"
                    }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="estado">
                  <th mat-header-cell *matHeaderCellDef>ESTADO</th>
                  <td
                    mat-cell
                    *matCellDef="let elemento"
                    [ngStyle]="getEstadoCellStyle(elemento.estado)"
                  >
                    {{ elemento.estado }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="nombre_completo">
                  <th mat-header-cell *matHeaderCellDef>EVALUADO POR</th>
                  <td mat-cell *matCellDef="let elemento">
                    {{ elemento.evaluador }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="fecha_aprobacion">
                  <th mat-header-cell *matHeaderCellDef>FECHA DE EVALUACIÓN</th>
                  <td mat-cell *matCellDef="let elemento">
                    {{ elemento.fecha_aprobacion | date : "dd/MM/yyyy" }}
                  </td>
                </ng-container>
                <tr
                  mat-header-row
                  *matHeaderRowDef="columnasObservaciones"
                ></tr>
                <tr
                  mat-row
                  *matRowDef="let fila; columns: columnasObservaciones"
                ></tr>
              </table>

              <mat-paginator
                [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
                aria-label="Select page of periodic elements"
                itemsPerPageLabel="Items por página:"
                nextPageLabel="Siguiente"
                previousPageLabel="Anterior"
              >
              </mat-paginator>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            class="btn btn-primary"
            data-dismiss="modal"
            data-bs-dismiss="modal"
          >
            OK
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
