<body>
  <div class="container bg-light border border-start-0 rounded-4">
    <!--Listado de usuarios-->
    <blockquote class="blockquote text-dark" style="margin-top: 5%; background-color: #ffffff; border-left: 10px solid green;">
      <h1 style="cursor: pointer; color: green">
        <strong>POA</strong>
      </h1>
    </blockquote>
    
    <!-- Tarjetas -->
    <div class="cards-container">
        <!-- Tarjetas Dinámicas -->
        <ng-container *ngIf="cardsToShow.length > 0; else noCards">
            <mat-card class="example-card" *ngFor="let card of cardsToShow">
                <div class="card-content-wrapper">
                    <!-- Envoltorio para el contenido de la tarjeta -->
                    <mat-card-header>
                        <mat-card-subtitle>{{ card.responsable }}</mat-card-subtitle>
                        <mat-card-title>{{ card.nombre_proyecto }}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-divider></mat-divider>
                        <br />
                        <mat-card-subtitle>Objetivo del Proyecto: </mat-card-subtitle>
                        <p>{{ card.objetivo_proyecto }}</p>
                        <mat-card-subtitle>Meta del Proyecto: </mat-card-subtitle>
                        <p>{{ card.meta_proyecto }}</p>
                        <mat-card-subtitle>Localización </mat-card-subtitle>
                        <p>{{ card.localizacion }}</p>
                        <mat-card-subtitle>Fecha Fin Del Proyecto: </mat-card-subtitle>
                        <p>{{ card.fecha_fin ? (card.fecha_fin | date:'dd/MM/yyyy') : 'Fecha no definida' }}</p>
                    </mat-card-content>
                </div>
                <mat-divider></mat-divider>
                <mat-card-actions class="card-actions">
                    <!-- Clase adicional para acciones de la tarjeta -->
                    <button mat-button (click)="redirectToDetails(card.id_poa)">
                        Ver más detalles
                    </button>
                </mat-card-actions>
                <mat-card-footer>
                    <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
                </mat-card-footer>
            </mat-card>
        </ng-container>

        <!-- Mensaje cuando no hay tarjetas -->
        <ng-template #noCards>
            <div class="example-card-vacio d-flex justify-content-center align-items-center">
                <div>
                    <img src="assets/img/poas.svg" alt="" style="margin-right: 10px; height: 70px; width: 70px">
                    <span style="color: #6a737b">No existen POA pendientes</span>
                </div>
            </div>
        </ng-template>
    </div>

    <!-- Paginación -->
    <div class="d-flex justify-content-center my-4">
        <mat-paginator [length]="totalCards" [pageSize]="pageSize" [pageSizeOptions]="[3]" showFirstLastButtons (page)="onPageChange($event)">
        </mat-paginator>
    </div>
  </div>
</body>
