<body>
  <div class="container bg-light border border-start-0 rounded-4">
    <blockquote class="blockquote text-dark" style="margin-top: 5%">
      <h1 style="text-transform: uppercase">
        <strong
          ><a style="cursor: pointer" (click)="verModelos()"
            >LISTADO MODELOS
          </a>
          >
          <a style="cursor: pointer" (click)="verProyectos()"
            >{{ modelopoa.nombre }}
          </a>
          >
          <a>{{ proyecto.nombre }}</a></strong
        >
      </h1>
    </blockquote>

    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="filterPost3"
            placeholder="Buscar..."
            [(ngModel)]="filterPost"
            (input)="aplicarFiltro()"
          />
        </div>

        <br />
        <br />
        <div
          class="mat-elevation-z8 table-responsive"
          style="margin-bottom: 5%"
        >
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="id_poa">
              <th mat-header-cell *matHeaderCellDef>POA</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.id_poa }}
              </td>
            </ng-container>
            <ng-container matColumnDef="meta_alcanzar">
              <th mat-header-cell *matHeaderCellDef>META_ALCANZAR</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.meta_alcanzar }}
              </td>
            </ng-container>
            <ng-container matColumnDef="meta_fisica">
              <th mat-header-cell *matHeaderCellDef>META FISICA</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.meta_fisica }}
              </td>
            </ng-container>
            <ng-container matColumnDef="fecha_inicio">
              <th mat-header-cell *matHeaderCellDef>INICIO</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.fecha_inicio }}
              </td>
            </ng-container>
            <ng-container matColumnDef="fecha_fin">
              <th mat-header-cell *matHeaderCellDef>FIN</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.fecha_fin }}
              </td>
            </ng-container>
            <ng-container matColumnDef="localizacion">
                <th mat-header-cell *matHeaderCellDef>LOCALIZACION</th>
                <td mat-cell *matCellDef="let elemento">
                  {{ elemento.localizacion }}
                </td>
              </ng-container>
            <ng-container matColumnDef="actividades">
              <th mat-header-cell *matHeaderCellDef>ACTIVIDAD</th>
              <td mat-cell *matCellDef="let elemento">
                <button
                  class="btn btn-primary"
                  role="button"
                  (click)="verActividades(elemento)"
                >
                  <div class="d-flex">
                    <i class="fa fa-folder-open"></i>
                  </div>
                </button>
              </td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
                <td mat-cell *matCellDef="let elemento">
                  <button
                    class="btn btn-primary"
                    role="button"
                    (click)="verActividades(elemento)"
                  >
                    <div class="d-flex">
                      <i class="fa fa-folder-open"></i>
                    </div>
                  </button>
                </td>
              </ng-container>
            

            <tr mat-header-row *matHeaderRowDef="columnasUsuario"></tr>
            <tr mat-row *matRowDef="let fila; columns: columnasUsuario"></tr>
          </table>
          <mat-paginator
            [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons
            aria-label="Select page of periodic elements"
            itemsPerPageLabel="Items por página:"
            nextPageLabel="Siguiente"
            previousPageLabel="Anterior"
          >
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</body>
