/* Estilo para el contenedor de tarjetas */
.cards-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* Asegura que todas las tarjetas tengan la misma altura */
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.example-card {
    width: 300px; /* Ancho fijo */
    height: 400px; /* Altura fija */
    overflow: auto; /* Si el contenido es demasiado, mostrar치 barras de desplazamiento */
    flex: 1; /* Permite que las tarjetas crezcan para ocupar el espacio disponible */
    margin: 0 1rem;
    overflow: auto;
    display: flex;
    flex-direction: column; /* Establece la direcci칩n principal como columna */
}

.card-content-wrapper {
    flex: 1; /* Permite que el contenido crezca y ocupe todo el espacio disponible */
    overflow: auto; /* Si el contenido es demasiado, mostrar치 barras de desplazamiento */
}

.card-actions {
    margin-top: auto; /* Empuja las acciones hacia la parte inferior */
}

/* Estilos para alinear los textareas e inputs */
.input-container,
.textarea-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-column {
    flex: 1 1 calc(33.333% - 20px); /* Ocupa un tercio del espacio, menos un peque침o margen */
    margin: 10px;
}

.form-row {
    margin-bottom: 20px;
}

.form-field {
    width: 100%;
}
table {
    width: 100%;
    margin-bottom: 20px;
  }