<body>
  <div class="container bg-light border border-start-0 rounded-4">
    <blockquote style="margin-top: 5%; background-color: #ffffff; border-left: 10px solid green;">
      <h1 style="text-transform: uppercase" class="header-title">
        <strong><a style="cursor: pointer" (click)=" verPoas()">LISTADO POAS
          </a>
          >
          <a class="header-title">ACTIVIDADES </a></strong>
      </h1>
    </blockquote>
    <div class="card">
      <div class="card-body">
        <div class="form-group d-flex justify-between align-center" role="search" id="buscar">
          <div class="input-container">
            <input type="text" class="form-control" name="filterPost3" placeholder="Buscar..." [(ngModel)]="filterPost"
              (input)="aplicarFiltro()" />
          </div>
          <div class="button-container">
            <button mat-raised-button class="rounded-button" data-bs-toggle="modal" data-bs-target="#materiaModal"
              style="background-color: rgba(212, 188, 55, 0.5); border: none; color: black; border-radius: 65px; margin-left: 14px;">
              <mat-icon class="custom-color"> add </mat-icon>
              Nuevo
            </button>
          </div>
        </div>
        <div class="mat-elevation-z8 table-responsive" style="margin-bottom: 5%">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="id_actividad">
              <th mat-header-cell *matHeaderCellDef>ID</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.id_actividad }}
              </td>
            </ng-container>
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef>NOMBRE</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.nombre }}
              </td>
            </ng-container>
            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef>DESCRIPCIÓN</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.descripcion }}
              </td>
            </ng-container>
            <ng-container matColumnDef="presupuesto_referencial">
              <th mat-header-cell *matHeaderCellDef>PRESUPUESTO REFERENCIAL</th>
              <td mat-cell *matCellDef="let elemento" class="align-right-dollar">
                {{ elemento.presupuesto_referencial }}
              </td>
            </ng-container>
            <ng-container matColumnDef="recursos_propios">
              <th mat-header-cell *matHeaderCellDef>R. PROPIOS</th>
              <td mat-cell *matCellDef="let elemento" class="align-right-dollar">
                {{ elemento.recursos_propios }}
              </td>
            </ng-container>
            <ng-container matColumnDef="codificado">
              <th mat-header-cell *matHeaderCellDef>CODIFICADO</th>
              <td mat-cell *matCellDef="let elemento" class="align-right-dollar">
                {{ elemento.codificado }}
              </td>
            </ng-container>
            <ng-container matColumnDef="devengado">
              <th mat-header-cell *matHeaderCellDef>DEVENGADO</th>
              <td mat-cell *matCellDef="let elemento" class="align-right-dollar">
                {{ elemento.devengado }}
              </td>
            </ng-container>
            <ng-container matColumnDef="estado">
              <th mat-header-cell *matHeaderCellDef>ESTADO</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.estado }}
              </td>
            </ng-container>
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
              <td mat-cell *matCellDef="let element">
                <button class="btn btn-sm btn-custom-red" (click)="eliminar(element)" title="Eliminar actividad"
                  *ngIf="element.estado === 'RECHAZADO'">
                  <i class="fas fa-trash-alt" style="color: red; font-size: 24px;"></i>
                </button>
                <button type="button" class="btn btn-sm btn-custom-yellow" data-bs-toggle="modal"
                  data-bs-target="#materiaModal" (click)="editDatos(element)" title="Editar Datos"
                  *ngIf="element.estado === 'RECHAZADO'">
                  <i class="fas fa-edit" style="color: yellow; font-size: 24px;"></i>
                </button>
                <button class="btn btn-md btn-custom-green" role="button" data-bs-toggle="modal"
                  title="Asignar un responsable" data-bs-target="#asignarResponsableModal"
                  (click)="abrirModalAsignarResponsable(element.id_actividad, element.usuario)"
                  *ngIf="element.estado === 'APROBADO'">
                  <i class="fas fa-user" style="color: hsl(156, 81%, 21%); font-size: 24px;"></i>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnasUsuario"></tr>
            <tr mat-row *matRowDef="let fila; columns: columnasUsuario"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements" itemsPerPageLabel="Items por página:"
            nextPageLabel="Siguiente" previousPageLabel="Anterior">
          </mat-paginator>
        </div>
        <div class="modal fade" id="materiaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
          (hidden.bs.modal)="limpiarFormulario()">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header" style="background-color: darkgreen; color: white;">
                <h3 class="modal-title">
                  <i class="fa fa-info-circle"></i> ACTIVIDAD
                </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form [formGroup]="frmActividad" (ngSubmit)="guardar()" id="formulario">
                  <div>
                    <label for="nombre">Nombre:</label>
                    <input class="form-control" formControlName="nombre" type="text" id="nombre" name="nombre"
                      style="margin-bottom: 10px" />
                    <div class="alert alert-danger" *ngIf="
                      frmActividad.controls['nombre'].invalid &&
                      frmActividad.controls['nombre'].touched
                      ">
                      <div *ngIf="
                        frmActividad.controls['nombre'].hasError('required')
                        ">
                        Debe ingresar un nombre
                      </div>
                    </div>
                    <label for="descripcion">Descripción:</label>
                    <input class="form-control" formControlName="descripcion" type="text" id="descripcion"
                      name="descripcion" style="margin-bottom: 10px" />
                    <div class="alert alert-danger" *ngIf="
                      frmActividad.controls['descripcion'].invalid &&
                      frmActividad.controls['descripcion'].touched
                      ">
                      <div *ngIf="
                        frmActividad.controls['descripcion'].hasError('required')
                        ">
                        Debe ingresar una descripcion de la actividad
                      </div>
                    </div>
                    <label for="presupuesto_referencial">Presupuesto Referencial:</label>
                    <input class="form-control" formControlName="presupuesto_referencial" id="presupuesto_referencial"
                      name="presupuesto_referencial" style="margin-bottom: 10px" type="number" min="0" />
                    <div class="alert alert-danger" *ngIf="
                      frmActividad.controls['presupuesto_referencial'].invalid &&
                      frmActividad.controls['presupuesto_referencial'].touched
                      ">
                      <div *ngIf="
                        frmActividad.controls['presupuesto_referencial'].hasError(
                            'required'
                          )
                        ">
                        Asigne un presupuesto referencial a la actividad
                      </div>
                    </div>
                    <label for="recursos_propios">Valor Recursos Propios:</label>
                    <input class="form-control" formControlName="recursos_propios" id="recursos_propios"
                      name="recursos_propios" style="margin-bottom: 10px" type="number" min="0" />
                    <div class="alert alert-danger" *ngIf="
                      frmActividad.controls['recursos_propios'].invalid &&
                      frmActividad.controls['recursos_propios'].touched
                      ">
                      <div *ngIf="
                        frmActividad.controls['nombre'].hasError('required')
                        ">
                        Debe ingresar un valor propio
                      </div>
                    </div>
                    <label for="codificado">Codificado:</label>
                    <input class="form-control" formControlName="codificado" id="codificado" name="codificado"
                      style="margin-bottom: 10px" type="number" min="0" value="0" readonly />
                    <div class="alert alert-danger" *ngIf="
                      frmActividad.controls['codificado'].invalid &&
                      frmActividad.controls['codificado'].touched
                      ">
                      <div *ngIf="
                        frmActividad.controls['codificado'].hasError('required')
                        ">
                        Debe ingresar un codificado
                      </div>
                    </div>
                    <label for="devengado">Devengado:</label>
                    <input class="form-control" formControlName="devengado" id="devengado" name="devengado"
                      style="margin-bottom: 10px" type="number" min="0" />
                    <div class="alert alert-danger" *ngIf="
                      frmActividad.controls['devengado'].invalid &&
                      frmActividad.controls['devengado'].touched
                      ">
                      <div *ngIf="
                        frmActividad.controls['devengado'].hasError('required')
                        ">
                        Debe ingresar un devengado
                      </div>
                    </div>
                  </div>
                </form>
                <div class="modal-footer">
                  <button type="button" form="formulario" class="btn btn-warning" data-bs-dismiss="modal">
                    Cancelar
                  </button>
                  <button type="submit" class="btn btn-primary" form="formulario" *ngIf="!actividad.id_actividad"
                    data-dismiss="modal" data-bs-dismiss="modal" style="background-color: green"
                    [disabled]="!frmActividad.valid">
                    Agregar
                  </button>
                  <button class="btn btn-primary" *ngIf="actividad.id_actividad" data-dismiss="modal"
                    data-bs-dismiss="modal" style="background-color: green" (click)="actualizar()"
                    [disabled]="!frmActividad.valid">
                    Actualizar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--<div class="modal fade" id="asignarResponsableModal" tabindex="-1" aria-labelledby="exampleModalLabel"
          aria-hidden="true" (hidden.bs.modal)="limpiar()">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header" style="background-color: darkgreen; color: white;">
                <h3 class="modal-title">
                  <i class="fa fa-info-circle"></i>ASIGNACION RESPONSABLE
                </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form [formGroup]="frmActResp" (ngSubmit)="guardarResponsable()" id="formularioResponsable">
                  <div>
                    <label for="usuario">Lista de Usuarios:</label>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Buscar usuarios" [(ngModel)]="filtroUsuarios"
                        (input)="filtrarUsuarios()" />
                    </div>
                    <select class="form-control" formControlName="usuario" id="usuario" name="usuario"
                      style="margin-bottom: 10px">
                      <option *ngFor="let usuario of usuariosFiltrados" [ngValue]="usuario.id">
                        {{ usuario.persona.primer_apellido }} {{ usuario.persona.primer_nombre }}
                      </option>
                    </select>
                    <div class="alert alert-danger"
                      *ngIf="frmActResp.controls['usuario'].invalid && frmActResp.controls['usuario'].touched">
                      <div *ngIf="frmActResp.controls['usuario'].hasError('required')">Debe seleccionar un responsable
                      </div>
                    </div>
                  </div>
                </form>
                <div class="modal-footer">
                  <button type="button" class="btn btn-warning" data-bs-dismiss="modal">
                    Cancelar
                  </button>
                  <button type="submit" class="btn btn-primary" form="formularioResponsable"
                    *ngIf="!actividad.id_actividad" data-dismiss="modal" data-bs-dismiss="modal"
                    style="background-color: green" [disabled]="!frmActResp.valid">
                    Guardar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>-->



        <div class="modal fade" id="asignarResponsableModal" tabindex="-1" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header" style="background-color: darkgreen; color: white;">
                <h3 class="modal-title">
                  <i class="fa fa-info-circle"></i>ASIGNACIÓN RESPONSABLE
                </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="form-group d-flex justify-between align-center" role="search" id="buscar">
                  <div class="input-container">
                    <input type="text" class="form-control" name="filtroUsuarios3" placeholder="Buscar..."
                      [(ngModel)]="filtroUsuarios" (input)="filtrarUsers()" />
                  </div>
                </div>
                <div class="mat-elevation-z8 table-responsive" style="margin-bottom: 5%">
                  <table mat-table [dataSource]="dataSource3">
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef>ID</th>
                      <td mat-cell *matCellDef="let elemento">
                        {{ elemento.usuario.id }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="nombre">
                      <th mat-header-cell *matHeaderCellDef>NOMBRE</th>
                      <td mat-cell *matCellDef="let elemento">
                        {{ elemento.usuario.persona.primer_nombre }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="apellido">
                      <th mat-header-cell *matHeaderCellDef>APELLIDO</th>
                      <td mat-cell *matCellDef="let elemento">
                        {{ elemento.usuario.persona.primer_apellido }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="usuario">
                      <th mat-header-cell *matHeaderCellDef>USUARIO</th>
                      <td mat-cell *matCellDef="let elemento">
                        {{ elemento.usuario.username }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                      <th mat-header-cell *matHeaderCellDef>SELECCIONAR</th>
                      <td mat-cell *matCellDef="let element">
                        <button class="btn btn-md btn-custom-green" role="button" *ngIf="!actividad.id_actividad"
                          data-dismiss="modal" data-bs-dismiss="modal" style="background-color: green"
                          (click)="guardarResponsable2(element.usuario.id)">
                          <mat-icon class="custom-color" style="color: hsl(160, 9%, 94%); font-size: 24px;"> check
                          </mat-icon>
                        </button>
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columnasUsuario3"></tr>
                    <tr mat-row *matRowDef="let fila; columns: columnasUsuario3"></tr>
                  </table>
                  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                    aria-label="Select page of periodic elements" itemsPerPageLabel="Items por página:"
                    nextPageLabel="Siguiente" previousPageLabel="Anterior">
                  </mat-paginator>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button mat-button (click)="mostrarTablaResponsables = !mostrarTablaResponsables"
          style="background-color: rgba(212, 188, 55, 0.5); border: none; color: black; border-radius: 65px;">
          {{ mostrarTablaResponsables ? 'Ocultar Lista' : 'Listar Responsables' }}
        </button>
        <div *ngIf="mostrarTablaResponsables" class="mat-elevation-z8 table-responsive">
          <table mat-table [dataSource]="dataSource2">
            <ng-container matColumnDef="id_usuario">
              <th mat-header-cell *matHeaderCellDef>ID USUARIO</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.id_usuario }}
              </td>
            </ng-container>
            <ng-container matColumnDef="username">
              <th mat-header-cell *matHeaderCellDef>NOMBRE USUARIO</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.username }}
              </td>
            </ng-container>
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef>NOMBRE</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.nombre }}
              </td>
            </ng-container>
            <ng-container matColumnDef="apellido">
              <th mat-header-cell *matHeaderCellDef>APELLIDO</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.apellido }}
              </td>
            </ng-container>
            <ng-container matColumnDef="cargo">
              <th mat-header-cell *matHeaderCellDef>CARGO</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.cargo }}
              </td>
            </ng-container>
            <ng-container matColumnDef="nombreActividad">
              <th mat-header-cell *matHeaderCellDef>ACTIVIDAD</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.nombreActividad }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnasUsuario2"></tr>
            <tr mat-row *matRowDef="let fila; columns: columnasUsuario2"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements" itemsPerPageLabel="Items por página:"
            nextPageLabel="Siguiente" previousPageLabel="Anterior">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</body>