#calc{
    font-family:myFirstFont;
    font-size: 250%;
    text-align: right;
    background-color: inherit;
    border: none;
    padding-left:20px;
    padding-right:20px;
    padding-bottom: 10px;
  }  body {
    font: 1em/1.618 Inter, sans-serif;
  
    display: flex;
    align-items: center;
    justify-content: center;
    
    min-height: 100vh;
    padding: 30px;
    
    color: green;
    background:
      url(https://source.unsplash.com/E8Ufcyxz514/2400x1823)
      center / cover no-repeat fixed;
  }
  
  .titulo {
    color: green !important;
  }
  .header-title {
    font-size: 30px;
    font-weight: bold;
    color:rgb(9, 70, 9); /* You can choose your preferred color */
    text-align: left;
  }
  .align-right-dollar {
    text-align: right; /* Alinear a la derecha */
  }
  
  .align-right-dollar::before {
    content: "$"; /* Agregar el símbolo de dólar antes del contenido */
    margin-right: 5px; /* Espacio entre el símbolo de dólar y el número */
  }

  #asignarResponsableModal .modal-dialog {
    max-width: 40%; /* Ajusta el porcentaje según tus necesidades */
    width: auto; /* Para permitir un ancho máximo */
  }