<body>
    <div class="container bg-light border border-start-0 rounded-4">
      <blockquote class="blockquote text-dark" style="margin-top: 5%">
        <h1 style="text-transform: uppercase">
          <strong
            ><a style="cursor: pointer" (click)="verComponentes()"
              >LISTADO DE COMPONENTES
            </a>
            >
            <a style="cursor: pointer" (click)="verObjetivosDOT() "
              >{{ componente.nombre }}
            </a>
            >
            <a>{{ objPDOT.nombre }}</a></strong
          >
        </h1>
      </blockquote>
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="filterPost3"
              placeholder="Buscar por nombre ..."
              [(ngModel)]="filterPost"
              (input)="buscar()"
              (ngModelChange)="buscar()"
            />
          </div>
          <button
            type="button"
            class="btn btn-guardar"
            data-bs-toggle="modal"
            data-bs-target="#materiaModal"          >
            CREAR UNA NUEVA META PDOT
          </button>
  
          <br />
          <br />
          <div
            class="mat-elevation-z8 table-responsive"
            style="margin-bottom: 5%"
          >
           
            <table mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="id_meta_pdot">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let elemento">
                  {{ elemento.id_meta_pdot }}
                </td>
              </ng-container>
              <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef>NOMBRE</th>
                <td mat-cell *matCellDef="let elemento">
                  {{ elemento.nombre }}
                </td>
              </ng-container>
              <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef>DESCRIPCIÓN</th>
                <td mat-cell *matCellDef="let elemento">
                  {{ elemento.descripcion }}
                </td>
              </ng-container>
              <ng-container matColumnDef="porcentaje_meta">
                <th mat-header-cell *matHeaderCellDef>PORCENTAJE</th>
                <td mat-cell *matCellDef="let elemento">
                  {{ elemento.porcentaje_meta }}
                </td>
              </ng-container>
     
              
  
              <ng-container matColumnDef="cantidadIndicadores">
                <th mat-header-cell *matHeaderCellDef>INDICADORES</th>
                <td mat-cell *matCellDef="let elemento">
                  <button
                    class="btn btn-primary"
                    role="button"
                    (click)="verIndicadores(elemento)"
                  >
                    <div class="d-flex">
                      <span class="badge">{{
                        elemento.cantidadEvidencia
                      }}</span>
                      <i class="fa fa-folder-open"></i>
                    </div>
                  </button>
                </td>
              </ng-container>
  
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
                <td mat-cell *matCellDef="let element">
                  <button
                    class="btn btn-danger"
                    style="background-color: red"
                    (click)="eliminar(element)"
                    style="margin-right: 5%"
                  >
                    <i class="fas fa-trash "></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#materiaModal"
                    style="margin-right: 5%"
                    (click)="editDatos(element)"
                  >
                    <i class="fas fa-edit"></i>
                  </button>
                </td>
              </ng-container>
  
              <tr mat-header-row *matHeaderRowDef="columnasUsuario"></tr>
              <tr mat-row *matRowDef="let fila; columns: columnasUsuario"></tr>
            </table>
            <mat-paginator
              [pageSizeOptions]="[5, 10, 20]"
              showFirstLastButtons
              aria-label="Select page of periodic elements"
              itemsPerPageLabel="Items por página:"
              nextPageLabel="Siguiente"
              previousPageLabel="Anterior"
            >
            </mat-paginator>
            <div *ngIf="!resultadosEncontrados" class="alert alert-warning">
              No se encontraron resultados.
            </div>
          </div>
        
         
          <div
            class="modal fade"
            id="materiaModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
            (hidden.bs.modal)="limpiarFormulario()"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header" style="background-color: #077b15" >
                  <h3 class="modal-title"   style="font-family: Arial, sans-serif; color: white">
                    <i class="fas fa-clipboard"></i> Meta PDOT
                  </h3>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <form
                    [formGroup]="formMeta"
                    (ngSubmit)="guardar()"
                    id="formulario"
                  >
                    <div>
                      <label for="nombre">Nombre:</label>
                      <input
                        class="form-control"
                        formControlName="nombre"
                        type="text"
                        id="nombre"
                        name="nombre"
                        style="margin-bottom: 10px"
                      />
                      <div
                        class="alert alert-danger"
                        *ngIf="
                        formMeta.controls['nombre'].invalid &&
                        formMeta.controls['nombre'].touched
                        "
                      >
                        <div
                          *ngIf="
                          formMeta.controls['nombre'].hasError('required')
                          "
                        >
                          Debe ingresar un nombre
                        </div>
                      </div>
                      <label for="descripcion">Descripción:</label>
                      <textarea
                        class="form-control"
                        formControlName="descripcion"
                        id="descripcion"
                        name="descripcion"
                        style="margin-bottom: 10px"
                      ></textarea>
                      <div
                        class="alert alert-danger"
                        *ngIf="
                        formMeta.controls['descripcion'].invalid &&
                        formMeta.controls['descripcion'].touched
                        "
                      >
                        <div
                          *ngIf="
                          formMeta.controls['descripcion'].hasError(
                              'required'
                            )
                          "
                        >
                          La descripcion no puede estar vacia
                        </div>
                        <div
                          *ngIf="
                          formMeta.controls['descripcion'].hasError(
                              'maxlength'
                            )
                          "
                        >
                          Excedio el numero de caracteres permitido
                        </div>
                      </div>
  
                      <label for="porcentaje_meta">Porcentaje:</label>
                      <input
                        class="form-control"
                        formControlName="porcentaje_meta"
                        type="number"
                        id="porcentaje_meta"
                        name="porcentaje_meta"
                        style="margin-bottom: 10px"
                      />
                      <div
                        class="alert alert-danger"
                        *ngIf="
                        formMeta.controls['porcentaje_meta'].invalid &&
                        formMeta.controls['porcentaje_meta'].touched
                        "
                      >
                        <div
                          *ngIf="
                          formMeta.controls['porcentaje_meta'].hasError('required')
                          "
                        >
                          Debe ingresar un porcentaje
                        </div>
                      </div>
  
                   
                    </div>
                  </form>
                  <div class="modal-footer">
                    <button
                      type="button"
                      form="formulario"
                      class="btn btn-warning"
                      data-bs-dismiss="modal"
                    >
                      Cancelar
                    </button>
                    <button
                    type="submit"
                    class="btn btn-primary"
                    form="formulario"
                    *ngIf="!metaPDOT.id_meta_pdot"
                    data-dismiss="modal"
                    data-bs-dismiss="modal"
                    [disabled]="!formMeta.valid"
                  >
                    Agregar
                  </button>
                    <button
                      class="btn btn-primary"
                      *ngIf="metaPDOT.id_meta_pdot"
                      data-dismiss="modal"
                      data-bs-dismiss="modal"
                      (click)="actualizar()"
                      [disabled]="!formMeta.valid"
                    >
                      Actualizar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
  
  
        </div>
      </div>
    </div>
  </body>
  