body {
  font: 1em/1.618 Inter, sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  padding: 30px;

  color: #224;
  background: url(https://source.unsplash.com/E8Ufcyxz514/2400x1823) center /
    cover no-repeat fixed;
}

/*Detalle POA Campos*/

.table-container {
  display: table;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

/* matTextField */
.example-full-width {
  width: 100%;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.form-field {
  width: 100%;
}
.contBtnEva {
  display: flex;
  justify-content: flex-end; /* Alinea el contenido al final del contenedor */
  padding: 10px;
}

/*Valores monetarios*/
.currency-align {
  text-align: right;
  position: relative;
}
.currency-symbol {
  position: absolute;
  left: 15px;
}
.currency-value {
  display: inline-block;
  margin-right: 1 0px;
}
.colspan-2 {
  width: 100%;
}
.centered-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.centered {
  text-align: center;
  vertical-align: middle;
}
.wide-cell {
  width: 20%;
  /* Ajusta el ancho según tu preferencia */
}
.titulo {
  color: green;
}
.card-table {
  width: 100%;
}

.thumb-up {
  background-color: green;
  color: white;
  margin-right: 10px;
}

.thumb-down {
  background-color: red;
  color: white;
}
