<!-- En tu archivo HTML -->

<body>
  <div class="container bg-light border border-start-0 rounded-4">
    <!-- Detalle POA -->
    <blockquote class="blockquote text-dark" style="margin-top: 5%; background-color: #ffffff; border-left: 10px solid green;">
      <h1 style="text-transform: uppercase">
          <strong><a style="cursor: pointer; color: rgba(0, 128, 0, 0.822);" (click)="verPoas()">DETALLE POA >
              </a>
              <a style="cursor: pointer; color: green; ">{{ poaAprob?.nombre_proyecto }} </a></strong>
      </h1>
  </blockquote>
    <!-- Botón Evaluar -->
    <div class="contBtnEva">
      <button class="btn btn-warning" (click)="abrirModal(evaluarPOAModal)">
        Evaluar
      </button>
    </div>
    <div class="card">
      <div class="card-body" *ngIf="poaAprob">
        <div class="table-container" id>
          <div class="table-row">
            <div class="table-cell">
              <strong>DIRECCION DEPARTAMENTAL: </strong
              >{{ poaAprob.direccion_departamental }}
            </div>
            <div class="table-cell">
              <strong>RESPONSABLE:</strong> {{ poaAprob.responsable }}
            </div>
          </div>
          <div class="table-row">
            <div class="table-cell">
              <strong>AREA QUE PRESENTA EL PROYECTO:</strong>
              {{ poaAprob.area }}
            </div>
            <div class="table-cell">
              <strong>SUPERVISION DEL PROYECTO:</strong>
              {{ poaAprob.responsable }}
            </div>
          </div>
        </div>
        <div class="table-container">
          <div class="table-row">
            <div class="table-cell colspan-2 centered-cell">
              <strong>AÑO DE EJECUCIÓN DEL PROYECTO:</strong>
              {{
                poaAprob.fecha_inicio
                  | date : "yyyy" || poaAprob.fecha_fin
                  | date : "yyyy"
              }}
            </div>
          </div>
        </div>
        <br />
        <br />
        <div class="table-container">
          <div class="table-row">
            <div class="table-cell">
              <strong>DENOMINACION DEL PROGRAMA PROYECTO:</strong>
            </div>
            <div class="table-cell centered">
              {{ poaAprob.nombre_proyecto }}
            </div>
            <div class="table-cell wide-cell centered">
              {{ poaAprob.codigo }}
            </div>
          </div>
          <div class="table-row">
            <div class="table-cell">
              <strong>DESCRIPCION DEL PROGRAMA PROYECTO:</strong>
            </div>
            <div class="table-cell centered">
              {{ poaAprob.descripcion_proyecto }}
            </div>
            <div class="table-cell wide-cell"></div>
          </div>
        </div>
        <br />
        <br />
        <div class="table-container">
          <div class="table-row">
            <div class="table-cell">
              <strong>NOMBRE PROGRAMA/PROYECTO:</strong>
            </div>
            <div class="table-cell">
              {{ poaAprob.nombre_proyecto }}
            </div>
          </div>
          <div class="table-row">
            <div class="table-cell"><strong>ODS:</strong></div>
            <div class="table-cell">
              {{ poaAprob.nombre_ods }}
            </div>
          </div>
          <div class="table-row">
            <div class="table-cell"><strong>OBJETIVO PND:</strong></div>
            <div class="table-cell">
              {{ poaAprob.nombre_pnd }}
            </div>
          </div>
          <div class="table-row">
            <div class="table-cell">
              <strong>OBJETIVO ESTRATEGICO DEL PDOT:</strong>
            </div>
            <div class="table-cell">
              {{ poaAprob.nombre_pdot }}
            </div>
          </div>
          <div class="table-row">
            <div class="table-cell">
              <strong>OBJETIVO DEL PROGRAMA/PROYECTO:</strong>
            </div>
            <div class="table-cell">
              {{ poaAprob.objetivo_proyecto }}
            </div>
          </div>

          <!--<div class="table-row">
                <div class="table-cell"><strong>META PLANIFICADA:</strong></div>
                <div class="table-cell ">
                    <input class="form-control" type="text" id="meta" name="meta"
                        style="width: 100%; margin-bottom: 10px" appCurrencyInput />
                </div>
            </div>-->
          <div class="table-row">
            <div class="table-cell"><strong>LINEA BASE:</strong></div>
            <div class="table-cell">
              {{ poaAprob.linea_base }}
            </div>
          </div>
        </div>
        <br />
        <br />
        <div class="table-container">
          <div class="table-row">
            <div class="table-cell">
              <mat-form-field appearance="outline" readonly class="example-full-width">
                <mat-label>Cobertura</mat-label>
                <input matInput readonly value="{{ poaAprob.cobertura }}" />
              </mat-form-field>
            </div>
            <div class="table-cell">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Barrio</mat-label>
                <input matInput readonly value="{{ poaAprob.barrio }}" />
              </mat-form-field>
            </div>
          </div>
          <div class="table-row">
            <div class="table-cell">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Localizacion</mat-label>
                <input matInput readonly value="{{ poaAprob.localizacion }}" />
              </mat-form-field>
            </div>
            <div class="table-cell">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Comunidad</mat-label>
                <input matInput readonly value="{{ poaAprob.comunidad }}" />
              </mat-form-field>
            </div>
          </div>

          <br />
          <br />
        
            <div class="table-row">
              <div class="table-cell"><strong>Nombre funcionario:</strong></div>
              <div class="table-cell">
                {{ poaAprob.nombre_completo }}
              </div>
            </div>
            <div class="table-row">
              <div class="table-cell">
                <strong>Cargo:</strong>
              </div>
              <div class="table-cell">
                {{ poaAprob.cargo }}
              </div>
            </div>
            <div class="table-row">
              <div class="table-cell">
                <strong>Fecha de emisión:</strong>
              </div>
              <div class="table-cell">
                {{ poaAprob.fecha_inicio | date : "dd/MM/yyyy" }}
              </div>
            </div>
         
        </div>
        <br />
        <br />
      </div>
    </div>
    <!-- Actividades del POA -->
    <div class="card-body">
      <!-- Detalle Actividades del POA -->
      <blockquote
        class="blockquote text-dark"
        style="
          margin-top: 5%;
          background-color: #ffffff;
          border-left: 10px solid green;
        "
      >
        <h1 style="cursor: pointer; color: green">
          <strong>Detalle Actividades del POA</strong>
        </h1>
      </blockquote>
      <div class="mat-elevation-z8 table-responsive" style="margin-bottom: 5%">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="nombre_actividad">
            <th mat-header-cell *matHeaderCellDef>NOMBRE</th>
            <td mat-cell *matCellDef="let elemento">
              {{ elemento.nombre }}
            </td>
          </ng-container>
          <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef>DESCRIPCIÓN</th>
            <td mat-cell *matCellDef="let elemento">
              {{ elemento?.descripcion || '' }}
            </td>
          </ng-container>
          <ng-container matColumnDef="presupuesto_referencial">
            <th mat-header-cell *matHeaderCellDef>PRESUPUESTO REFERENCIAL</th>
            <td mat-cell *matCellDef="let elemento" class="currency-align">
              <span class="currency-symbol">$</span
              ><span class="currency-value">{{
                elemento.presupuesto_referencial
              }}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="recursos_propios">
            <th mat-header-cell *matHeaderCellDef>RECURSOS PROPIOS</th>
            <td mat-cell *matCellDef="let elemento" class="currency-align">
              <span class="currency-symbol">$</span
              ><span class="currency-value">{{
                elemento.recursos_propios
              }}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="recursos_externos">
            <th mat-header-cell *matHeaderCellDef>RECURSOS EXTERNOS</th>
            <td mat-cell *matCellDef="let elemento" class="currency-align">
              <span class="currency-symbol">$</span
              ><span class="currency-value">{{
                elemento.recursos_externos
              }}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef>ESTADO</th>
            <td mat-cell *matCellDef="let elemento">
              {{ elemento.estado }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnasActividades"></tr>
          <tr mat-row *matRowDef="let row; columns: columnasActividades"></tr>
        </table>
      </div>

      <!--Porcentajes presupuestados por periodo-->
      <!-- 
  <br />
    <br />
    <div class="table-container">
        <div class="table-row">
            <div class="table-cell"><strong>{{selectedPeriod}} 1:</strong></div>
            <div class="table-cell ">${{valueUno}}</div>
            <div class="table-cell"><strong>{{selectedPeriod}} 2:</strong></div>
            <div class="table-cell ">${{valueDos}}</div>
            <div class="table-cell"><strong>{{selectedPeriod}} 3:</strong></div>
            <div class="table-cell ">${{valueTres}}</div>
            <div class="table-cell" *ngIf="selectedPeriod === 'TRIMESTRE'"><strong>{{selectedPeriod}}
                    4:</strong></div>
            <div class="table-cell " *ngIf="selectedPeriod === 'TRIMESTRE'">${{valueCuatro}}</div>
        </div>
    </div>
    <div class="table-container ">
        <div class="table-row">
            <div class="table-cell wide-cell"><strong>TOTAL:</strong></div>
            <div class="table-cell">$ {{totalActividades}}</div>
        </div>
    </div>
  -->
      <!-- Modal Evaluar POA -->
      <ng-template
        #evaluarPOAModal
        class="modal fade"
        id="evaluarPOAModal"
        tabindex="-1"
        aria-labelledby="evaluarPOALabel"
        aria-hidden="true"
      >
        <div
          class="modal-header text-center"
          style="background-color: rgb(0, 122, 255)"
        >
          <strong>
            <h1
              class="modal-title font-weight-bold"
              style="font-family: Arial, sans-serif; color: white"
            >
              Evaluar POA
            </h1>
          </strong>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="cerrarModal()"
          ></button>
        </div>
        <div class="modal-body">
          <form action="">
            <div class="form-group">
              <label for="usuarioCombo">Usuario</label>
              <select id="usuarioCombo" class="form-control">
                <option *ngFor="let usuario of usuarios" [value]="usuario.id">
                  {{ usuario.primer_nombre }} {{ usuario.primer_apellido }}
                </option>
              </select>
            </div>
            <div class="btn-group" role="group" aria-label="Aprobar/Rechazar">
              <!-- Botón Aprobar (Verde) -->
              <button
                class="btn btn-success"
                [class.btn-on]="isBtnSuccessActive"
                (click)="toggleBtnSuccess()"
              >
                Aprobar
              </button>

              <!-- Botón Rechazar (Rojo) -->
              <button
                class="btn btn-danger"
                [class.btn-on]="isBtnDangerActive"
                (click)="toggleBtnDanger()"
              >
                Rechazar
              </button>
            </div>

            <div class="form-group mt-3">
              <label for="observacionTextarea">Observación</label>
              <textarea
                id="observacionTextarea"
                class="form-control"
                [class.is-invalid]="
                  isBtnDangerActive && !observacionControl.value
                "
                rows="3"
                [formControl]="observacionControl"
              ></textarea>
            </div>
            <div class="container text-center mt-3">
              <button
                type="button"
                class="btn btn-primary"
                [disabled]="
                  !isBtnSuccessActive &&
                  (!isBtnDangerActive ||
                    (isBtnDangerActive && observacionControl.value === ''))
                "
                (click)="actualizarAprobacion()"
              >
                Guardar
              </button>

              <button
                type="button"
                class="btn btn-secondary"
                (click)="cerrarModal()"
              >
                Cancelar
              </button>
            </div>
          </form>
        </div>
      </ng-template>
    </div>
  </div>
</body>
