<!-- En tu archivo HTML -->

<body>
  <div class="container bg-light border border-start-0 rounded-4">
    <!-- Detalle POA -->
    <blockquote class="blockquote text-dark" style="
        margin-top: 5%;
        background-color: #ffffff;
        border-left: 10px solid green;
      ">
      <h1 style="text-transform: uppercase">
        <strong><a style="cursor: pointer; color: rgba(0, 128, 0, 0.822)" (click)="verPoas()">
            POA >
          </a>
          <a style="cursor: pointer; color: green">{{ "DETALLE POA: " + poaAprob.nombre_proyecto || "No Definido" }}
          </a></strong>
      </h1>
    </blockquote>
    <!-- Botón Evaluar -->
    <div class="contBtnEva">
      <button class="btn btn-warning" role="button" data-bs-toggle="modal" data-bs-target="#materiaModal">
        Evaluar
      </button>
    </div>
    <div class="card">
      <div class="card-body" *ngIf="poaAprob">
        <div class="table-container" id>
          <div class="table-row">
            <div class="table-cell">
              <strong>DIRECCION DEPARTAMENTAL: </strong>{{ poaAprob.direccion_departamental }}
            </div>
            <div class="table-cell">
              <strong>RESPONSABLE:</strong> {{ poaAprob.responsable }}
            </div>
          </div>
          <div class="table-row">
            <div class="table-cell">
              <strong>AREA QUE PRESENTA EL PROYECTO:</strong>
              {{ poaAprob.area }}
            </div>
            <div class="table-cell">
              <strong>SUPERVISION DEL PROYECTO:</strong>
              {{
              user.persona.primer_nombre + " " + user.persona.primer_apellido
              }}
            </div>
          </div>
        </div>
        <div class="table-container">
          <div class="table-row">
            <div class="table-cell colspan-2 centered-cell">
              <strong>AÑO DE EJECUCIÓN DEL PROYECTO:</strong>&nbsp;
              {{poaAprob.fecha_inicio | date : "yyyy" }}
              -
              {{ poaAprob.fecha_fin | date : "yyyy" }}
            </div>
          </div>
        </div>
        <br />
        <br />
        <div class="table-container">
          <div class="table-row">
            <div class="table-cell" style="display: flex; flex-direction: column; gap: 8px">
              <mat-form-field>
                <mat-label>Tipo de seguimiento</mat-label>
                <input matInput readonly [value]="tipSeguimiento" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="table-container">
          <div class="table-row">
            <div class="table-cell">
              <strong>DENOMINACION DEL PROGRAMA PROYECTO:</strong>
            </div>
            <div class="table-cell centered">
              {{ poaAprob.nombre_proyecto }}
            </div>
            <div class="table-cell wide-cell centered">
              {{ poaAprob.codigo }}
            </div>
          </div>
          <div class="table-row">
            <div class="table-cell">
              <strong>DESCRIPCION DEL PROGRAMA PROYECTO:</strong>
            </div>
            <div class="table-cell centered">
              {{ poaAprob.descripcion_proyecto !== null ? poaAprob.descripcion_proyecto : '' }}
            </div>
            <div class="table-cell wide-cell"></div>
          </div>
        </div>
        <br />
        <br />
        <div class="table-container">
          <div class="table-row">
            <div class="table-cell">
              <strong>NOMBRE PROGRAMA/PROYECTO:</strong>
            </div>
            <div class="table-cell">
              {{ poaAprob.nombre_proyecto }}
            </div>
          </div>
          <div class="table-row">
            <div class="table-cell"><strong>ODS:</strong></div>
            <div class="table-cell">
              {{ poaAprob.nombre_ods }}
            </div>
          </div>
          <div class="table-row">
            <div class="table-cell"><strong>OBJETIVO PND:</strong></div>
            <div class="table-cell">
              {{ poaAprob.nombre_pnd }}
            </div>
          </div>
          <div class="table-row">
            <div class="table-cell">
              <strong>OBJETIVO ESTRATEGICO DEL PDOT:</strong>
            </div>
            <div class="table-cell">
              {{ poaAprob.nombre_pdot }}
            </div>
          </div>
          <div class="table-row">
            <div class="table-cell">
              <strong>OBJETIVO DEL PROGRAMA/PROYECTO:</strong>
            </div>
            <div class="table-cell">
              {{ poaAprob.objetivo_proyecto }}
            </div>
          </div>

          <div class="table-row">
            <div class="table-cell"><strong>META PLANIFICADA:</strong></div>
            <div class="table-cell">
              {{ poaAprob.meta_planificada }}
            </div>
          </div>
          <div class="table-row">
            <div class="table-cell"><strong>LINEA BASE:</strong></div>
            <div class="table-cell">
              {{ poaAprob.linea_base }}
            </div>
          </div>
        </div>
        <br />
        <br />
        <div class="table-container">
          <div class="table-row">
            <div class="table-cell">
              <mat-form-field appearance="outline" readonly class="example-full-width">
                <mat-label>Cobertura</mat-label>
                <input matInput readonly value="{{ poaAprob.cobertura }}" />
              </mat-form-field>
            </div>
            <div class="table-cell">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Barrio</mat-label>
                <input matInput readonly value="{{ poaAprob.barrio }}" />
              </mat-form-field>
            </div>
          </div>
          <div class="table-row">
            <div class="table-cell">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Localizacion</mat-label>
                <input matInput readonly value="{{ poaAprob.localizacion }}" />
              </mat-form-field>
            </div>
            <div class="table-cell">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Comunidad</mat-label>
                <input matInput readonly value="{{ poaAprob.comunidad }}" />
              </mat-form-field>
            </div>
          </div>

          <br />
          <br />

          <div class="table-row">
            <div class="table-cell"><strong>Nombre funcionario:</strong></div>
            <div class="table-cell">
              {{ poaAprob.nombre_completo }}
            </div>
          </div>
          <div class="table-row">
            <div class="table-cell">
              <strong>Cargo:</strong>
            </div>
            <div class="table-cell">
              {{ poaAprob.cargo }}
            </div>
          </div>
          <div class="table-row">
            <div class="table-cell">
              <strong>Fecha de emisión:</strong>
            </div>
            <div class="table-cell">
              {{ poaAprob.fecha_inicio | date : "dd/MM/yyyy" }}
            </div>
          </div>
        </div>
        <br />
        <br />
      </div>
    </div>
    <!-- Actividades del POA -->
    <div class="card-body">
      <!-- Detalle Actividades del POA -->
      <blockquote class="blockquote text-dark" style="
          margin-top: 5%;
          background-color: #ffffff;
          border-left: 10px solid green;
        ">
        <h1 style="cursor: pointer; color: green">
          <strong>Detalle Actividades del POA</strong>
        </h1>
      </blockquote>
      <div class="mat-elevation-z8 table-responsive" style="margin-bottom: 5%">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="nombre_actividad">
            <th mat-header-cell *matHeaderCellDef>NOMBRE</th>
            <td mat-cell *matCellDef="let elemento">
              {{ elemento.nombre }}
            </td>
          </ng-container>
          <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef>DESCRIPCIÓN</th>
            <td mat-cell *matCellDef="let elemento">
              {{ elemento.descripcion !== null ? elemento.descripcion : '' }}
            </td>
          </ng-container>
          <ng-container matColumnDef="presupuesto_referencial">
            <th mat-header-cell *matHeaderCellDef>PRESUPUESTO REFERENCIAL</th>
            <td mat-cell *matCellDef="let elemento" class="currency-align">
              <span class="currency-symbol">$</span><span class="currency-value">{{
                elemento.presupuesto_referencial
                }}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="recursos_propios">
            <th mat-header-cell *matHeaderCellDef>RECURSOS PROPIOS</th>
            <td mat-cell *matCellDef="let elemento" class="currency-align">
              <span class="currency-symbol">$</span><span class="currency-value">{{
                elemento.recursos_propios
                }}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="recursos_externos">
            <th mat-header-cell *matHeaderCellDef>RECURSOS EXTERNOS</th>
            <td mat-cell *matCellDef="let elemento" class="currency-align">
              <span class="currency-symbol">$</span><span class="currency-value">{{
                elemento.recursos_externos
                }}</span>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnasActividades"></tr>
          <tr mat-row *matRowDef="let row; columns: columnasActividades"></tr>
        </table>
      </div>

      <!--Porcentajes presupuestados por periodo-->

      <br />
      <br />
      <div class="table-container">
        <div class="table-row">
          <div class="table-cell">
            <strong>{{ tipSeguimiento }} 1: </strong>
          </div>
          <div class="table-cell">
            $ {{ porcentajes[0] | number : "1.0-2" }}
          </div>
          <div class="table-cell">
            <strong>{{ tipSeguimiento }} 2: </strong>
          </div>
          <div class="table-cell">
            $ {{ porcentajes[1] | number : "1.0-2" }}
          </div>
          <div class="table-cell">
            <strong>{{ tipSeguimiento }} 3:</strong>
          </div>
          <div class="table-cell">
            $ {{ porcentajes[2] | number : "1.0-2" }}
          </div>
          <div class="table-cell" *ngIf="tipSeguimiento === 'TRIMESTRE'">
            <strong>{{ tipSeguimiento }} 4:</strong>
          </div>
          <div class="table-cell" *ngIf="tipSeguimiento === 'TRIMESTRE'">
            $ {{ porcentajes[3] | number : "1.0-2" }}
          </div>
        </div>
      </div>

      <div class="table-container">
        <div class="table-row">
          <div class="table-cell wide-cell"><strong>TOTAL:</strong></div>
          <div class="table-cell">$ {{ totalf }}</div>
        </div>
      </div>

      <br />
      <br />
      <div class="table-container">
        <div class="table-row">
          <div class="table-cell"><strong>Recursos Propios:</strong></div>
          <div class="table-cell">
            $ {{ totalesPoa.total_recursos_propios }}
          </div>
          <div class="table-cell"><strong>Recursos Externos:</strong></div>
          <div class="table-cell">
            $ {{ totalesPoa.total_presupuesto_externo }}
          </div>
        </div>
      </div>
      <br />
    </div>
  </div>
</body>

<div class="modal fade" id="materiaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #077b15">
        <h3 class="modal-title" style="font-family: Arial, sans-serif; color: white">
          <i class="fa fa-info-circle"></i> EVALUAR
        </h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="Limpiar()"></button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body" style="height: 100%">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Usuario Evaluador</mat-label>
              <input name="usuario" matInput disabled [value]="
                  user.persona.primer_nombre +
                  '  ' +
                  user.persona.primer_apellido
                " />
            </mat-form-field>

            <div class="container text-center">
              <div class="row">
                <div class="col-8">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Estado</mat-label>
                    <input matInput name="estado" disabled [(ngModel)]="estado" />
                  </mat-form-field>
                </div>
                <div class="col-4">
                  <button mat-fab class="thumb-up" (click)="Aprobar()">
                    <mat-icon>thumb_up</mat-icon>
                  </button>

                  <button mat-fab class="thumb-down" (click)="Rechazar()">
                    <mat-icon>thumb_down</mat-icon>
                  </button>
                </div>
              </div>
            </div>

            <div class="form-floating">
              <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                style="height: 100px" [(ngModel)]="observacion"></textarea>
              <label for="floatingTextarea2">Observación</label>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" form="formulario" class="btn btn-warning" data-bs-dismiss="modal" (click)="Limpiar()">
            Cancelar
          </button>
          <button type="submit" class="btn btn-primary" form="formulario" data-dismiss="modal" data-bs-dismiss="modal"
            (click)="crearAprobacion()" [disabled]="!estado">
            Agregar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>