.semaforo {
  display: flex;
  align-items: center;
}
.semaforo div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 15px;

}
.rojo {
  background-color: red;
}
.amarillo {
  background-color: yellow;
}
.verde {
  background-color: green;
}

.titulo {
  color: green !important;
}
