<body>
  <div class="container bg-light border border-start-0 rounded-4">
    <blockquote class="blockquote text-dark"
      style="margin-top: 5%; background-color: #ffffff; border-left: 10px solid green;">
      <h1 class="titulo"><strong> LISTADO DE COMPONENTES</strong></h1>
    </blockquote>
    <div></div>

    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <input type="text" class="form-control" name="filterPost3" placeholder="Buscar por nombre ..."
            [(ngModel)]="filterPost" (input)="buscar()" (ngModelChange)="buscar()" />
        </div>
        <br />
        <button type="button" class="btn btn-guardar" data-bs-toggle="modal" data-bs-target="#materiaModal"
          style="color: white;">
          CREAR NUEVO COMPONENTE
        </button>
        <br />
        <br />
        <div class="mat-elevation-z8 table-responsive" style="margin-bottom: 5%">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="id_componente">
              <th mat-header-cell *matHeaderCellDef [style.display]="ocultar? '' : 'none'">ID</th>
              <td mat-cell *matCellDef="let elemento" [style.display]="ocultar? '' : 'none'">
                {{ elemento.id_componente }}
              </td>
            </ng-container>
            <ng-container matColumnDef="codigo">
              <th mat-header-cell *matHeaderCellDef>Código</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.codigo }}
              </td>
            </ng-container>
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef>NOMBRE</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.nombre }}
              </td>
            </ng-container>
            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef>DESCRIPCIÓN</th>
              <td mat-cell *matCellDef="let elemento">
                {{ elemento.descripcion }}
              </td>
            </ng-container>
            <ng-container matColumnDef="cantidadObjetivoPDOT">
              <th mat-header-cell *matHeaderCellDef>OBJETIVOS PDOT</th>
              <td mat-cell *matCellDef="let elemento">
                <button class="btn btn-primary" role="button" style="background-color: green"
                  (click)="verDetalles(elemento)">
                  <div class="d-flex">
                    <span class="badge">{{
                      elemento.cantidadObjetivoPDOT}}</span>
                    <i class="fa fa-folder-open"></i>
                  </div>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
              <td mat-cell *matCellDef="let element">
                <button class="btn btn-danger" style="background-color: red" (click)="eliminar(element)"
                  style="margin-right: 5%">
                  <i class="fas fa-trash"></i>
                </button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#materiaModal"
                  style="margin-right: 5%; background-color: green;" (click)="editDatos(element)">
                  <i class="fas fa-edit"></i>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnasUsuario"></tr>
            <tr mat-row *matRowDef="let fila; columns: columnasUsuario"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements" itemsPerPageLabel="Items por página:"
            nextPageLabel="Siguiente" previousPageLabel="Anterior">
          </mat-paginator>
          <div *ngIf="!resultadosEncontrados" class="alert alert-warning">
            No se encontraron resultados.
          </div>

        </div>



        <div class="modal fade" id="materiaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
          (hidden.bs.modal)="limpiarFormulario()">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header" style="background-color: #077b15">
                <h3 class="modal-title" style="font-family: Arial, sans-serif; color: white">
                  <i class="fa fa-info-circle"></i> Componente
                </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form [formGroup]="formComponentes" (ngSubmit)="guardar()" id="formulario">
                  <div>


                    <label for="codigo">Código:</label>
                    <input class="form-control" formControlName="codigo" type="text" id="codigo" name="codigo"
                      style="margin-bottom: 10px" />
                    <div class="alert alert-danger" *ngIf="
                        formComponentes.controls['codigo'].invalid &&
                        formComponentes.controls['codigo'].touched
                        ">
                      <div *ngIf="
                          formComponentes.controls['codigo'].hasError('required')
                          ">
                        Debe ingresar un código
                      </div>
                    </div>




                    <label for="nombre">Nombre:</label>
                    <input class="form-control" formControlName="nombre" type="text" id="nombre" name="nombre"
                      style="margin-bottom: 10px" />
                    <div class="alert alert-danger" *ngIf="
                        formComponentes.controls['nombre'].invalid &&
                        formComponentes.controls['nombre'].touched
                        ">
                      <div *ngIf="
                          formComponentes.controls['nombre'].hasError('required')
                          ">
                        Debe ingresar un nombre
                      </div>
                    </div>





                    <label for="descripcion">Descripción:</label>
                    <textarea class="form-control" formControlName="descripcion" id="descripcion" name="descripcion"
                      style="margin-bottom: 10px"></textarea>
                    <div class="alert alert-danger" *ngIf="
                        formComponentes.controls['descripcion'].invalid &&
                        formComponentes.controls['descripcion'].touched
                        ">
                      <div *ngIf="
                          formComponentes.controls['descripcion'].hasError(
                              'required'
                            )
                          ">
                        La descripcion no puede estar vacia
                      </div>
                      <div *ngIf="
                          formComponentes.controls['descripcion'].hasError(
                              'maxlength'
                            )
                          ">
                        Excedio el numero de caracteres permitido
                      </div>
                    </div>
                  </div>
                </form>
                <div class="modal-footer">
                  <button type="button" form="formulario" class="btn btn-warning" data-bs-dismiss="modal">
                    Cancelar
                  </button>
                  <button type="submit" class="btn btn-primary" form="formulario" style="background-color: green"
                    *ngIf="!componentes.id_componente" data-dismiss="modal" data-bs-dismiss="modal"
                    [disabled]="!formComponentes.valid">
                    Agregar
                  </button>
                  <button class="btn btn-primary" *ngIf="componentes.id_componente" data-dismiss="modal"
                    data-bs-dismiss="modal" style="background-color: green" (click)="actualizar()"
                    [disabled]="!formComponentes.valid">
                    Actualizar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</body>