<div class="container bg-light border border-start-0 rounded-4 ">
    <blockquote style="margin-top: 5%; background-color: #ffffff; border-left: 10px solid green;">
        <h1 style="text-transform: uppercase" class="header-title"><strong> LISTADO PROYECTOS</strong></h1>
    </blockquote>
    <div></div>
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <input type="text" class="form-control" name="filterPost3" placeholder="Buscar..."
                    [(ngModel)]="filterPost" (input)="aplicarFiltro()" />
            </div>
            <br />
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="codigo">
                    <th mat-header-cell *matHeaderCellDef>CODIGO</th>
                    <td mat-cell *matCellDef="let elemento">
                        {{ elemento.codigo }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef>NOMBRE</th>
                    <td mat-cell *matCellDef="let elemento">
                        {{ elemento.nombre }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="meta">
                    <th mat-header-cell *matHeaderCellDef>META</th>
                    <td mat-cell *matCellDef="let elemento">
                        {{ elemento.meta }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
                    <td mat-cell *matCellDef="let elemento">
                        <mat-dialog-actions align="end">
                            <button class="btn btn-seleccionar" mat-dialog-close
                                (click)="selectProject(elemento)">Seleccionar</button>
                        </mat-dialog-actions>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnasUsuario"></tr>
                <tr mat-row *matRowDef="let fila; columns: columnasUsuario"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                aria-label="Select page of periodic elements" itemsPerPageLabel="Items por página:"
                nextPageLabel="Siguiente" previousPageLabel="Anterior">
            </mat-paginator>
        </div>
    </div>
</div>
<!-- CREATE BUTTON TO ACTION CLOSE -->
<mat-dialog-actions align="end">
    <button class="btn btn-warning" mat-dialog-close>Cancelar</button>
</mat-dialog-actions>