.config-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.custom-dropdown {
  position: absolute;
  right: 0;
  top: 100%;
  display: none;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  min-width: 100px;
  z-index: 1;
}

.show-dropdown .custom-dropdown {
  display: block;
}

.show-dropdown .config-button {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.men {
  margin-bottom: 6%;
}

.cole {
  color: white;
}

.tab-rech {
  background-color: rgba(255, 0, 0, 0.158);
}

.tab-apr {
  background-color: rgba(0, 255, 64, 0.158);
}

.barra {
  display: flex;
  justify-content: center;
  width: 15%;
  height: 15%;
}

.titu {
  margin-top: 2%;
  margin-left: 2%;
  font-weight: bold;
}

table {
  width: 70%;
}

.calenda {
  flex-grow: 1;
  margin-block-end: auto;
  writing-mode: horizontal-tb;
}

.container {
  display: flex;
}

.image-container {
  margin-left: 20px;
}

.image-container img {
  width: 100px;
  height: 100px;
}

.calendar-container {
  width: 80%;
  height: 60%;
}

.fc .fc-daygrid-day {
  font-size: auto;
  /* Cambiar el valor de fuente*/
  padding: 0.2rem;
  /* Ajustar el relleno de las celdas*/
  height: auto;
  /* Ajustar la altura de las celdas*/
  width: auto;
  /* Ajustar el ancho de las celdas */
}

.fc-day-today {
  background-color: rgb(5, 84, 110);
}

/* Ajustar el tamaño del título del evento */
.fc .fc-title {
  font-size: 12px;
  /* Cambia el valor de fuente según lo desees */
}

/* Ajustar el tamaño del botón de cambiar de vista del calendario (mes/semana/día) */
.fc-button {
  font-size: 12px;
  /* Cambia el valor de fuente según lo desees */
}

.icon-box {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.percentage {
  margin-left: 5px;
  font-weight: bold;
}

.bar-container {
  width: 100%;
  height: 20px;
  background-color: #f3f3f3;
  border-radius: 5px;
  border: 1px solid rgba(3, 3, 3);
  overflow: hidden;
}

.bar {
  height: 100%;
  background-color: #4caf50;
  border-radius: 5px;
}


.floating-card {
  position: fixed;
  top: 50%;
  right: 100px;
  transform: translateY(-99%);
  width: 500px;
  height: 250px;
  align-items: center;
  display: flex;
  justify-content: center;
  bottom: 50%;

  /*z-index: 1; /* Asegura que la tarjeta está encima del contenido */
}

.textTitulo {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 20px 0;
  font-size: 20px;

}

.floating-card2 {
  position: fixed;
  top: 50%;
  right: 100px;
  transform: translateY(10%);
  width: 500px;
  height: 200px;
  align-items: center;
  display: flex;
  justify-content: center;
  bottom: 50%;
  background-color: rgb(224, 222, 222);
  /*z-index: 1; /* Asegura que la tarjeta está encima del contenido */
}

.cards {
  width: 100%;
  padding: 35px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.cards .card {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.number {
  font-size: 35px;
  font-weight: 500;
  color: #299B63;
}

.card-name {
  color: #888;
  font-weight: 600;
}

.icon-box i {
  font-size: 45px;
  color: #299b63;
}


/* charts */

.charts {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  width: 100%;
  padding: 20px;
  padding-top: 0;
}

.chart {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  width: 100%;
}

.chart h2 {
  margin-bottom: 5px;
  font-size: 20px;
  color: #666;
  text-align: center
}

@media (max-width:1115px) {
  .sidebar {
    width: 60px;
  }

  .main {
    width: calc(100% - 60px);
    left: 60px;
  }
}

@media (max-width:880px) {

  /* .topbar {
      grid-template-columns: 1.6fr 6fr 0.4fr 1fr;
  } */
  .fa-bell {
    justify-self: left;
  }

  .cards {
    width: 100%;
    padding: 35px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .charts {
    grid-template-columns: 1fr;
  }

  .doughnut-chart {
    padding: 50px;
  }

  #doughnut {
    padding: 50px;
  }
}

@media (max-width:500px) {
  .topbar {
    grid-template-columns: 1fr 5fr 0.4fr 1fr;
  }

  .logo h2 {
    font-size: 20px;
  }

  .search {
    width: 80%;
  }

  .search input {
    padding: 0 20px;
  }

  .fa-bell {
    margin-right: 5px;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .doughnut-chart {
    padding: 10px;
  }

  #doughnut {
    padding: 0px;
  }
}

body {
  font: 1em/1.618 Inter, sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  padding: 30px;

  color: #224;
  background:
    url(https://source.unsplash.com/E8Ufcyxz514/2400x1823) center / cover no-repeat fixed;
}