<body>
  <div class="container bg-light border border-start-0 rounded-4">
    <div id="fondo" class="container-fluid">
      <section class="content-header" id="enc">
        <div class="container-fluid" style="border: 1px; border-radius: 2%">
          <div class="row mb-2">
            <div
              class="col-sm-6"
              id="letra"
              (click)="irmodelo()"
              title="Haga clic para ir al modelo"
            >
              <blockquote class="blockquote text-dark" style="margin-top: 5%">
                <h1><strong>MODELO:</strong> {{ modeloMaximo?.nombre }}</h1>
              </blockquote>
            </div>
          </div>
        </div>
      </section>
      <select
        name="fondo"
        id="fondo"
        [(ngModel)]="selectedColor"
        (ngModelChange)="cambiar()"
      >
        <option value="white">Tema 1</option>
        <option value="#151a30">Tema 2</option>
        <option value="#131a22">Tema 3</option>
      </select>
      <app-reporteavancepoa></app-reporteavancepoa>

      <!-- Chart -->
      <div style="display: flex; border-bottom: thick double #32a1ce" id="fig">
        <div
          style="flex-basis: 70%; border-right: thick double #32a1ce"
          (click)="detalle()"
          id="fig2"
        >
          <ngx-charts-pie-grid
            [view]="view"
            [scheme]="colorScheme"
            [results]="datos"
            [designatedTotal]="1"
            [customColors]="colorScheme"
            (select)="onSelect($event)"
          >
            <ng-template #tooltipTemplate let-model="model">
              <div class="custom-tooltip" id="tooltip">
                <span>{{ model.name }}</span>
                <br />
                <span>{{ model.value | percent }}</span>
              </div>
            </ng-template>
          </ngx-charts-pie-grid>
        </div>

        <div
          class="barra"
          style="flex-basis: 30%; margin-top: 5%"
          (click)="detalle()"
          title="Haga clic para ir a los criterios"
        >
          <ngx-charts-bar-horizontal
            [view]="[200, 200]"
            [scheme]="colorScheme"
            [results]="crite"
            [xAxis]="true"
            [yAxis]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="false"
            [xAxisLabel]="titulo"
            [showDataLabel]="true"
            [barPadding]="4"
            [roundEdges]="true"
            (select)="onSelect($event)"
          >
            <ng-template #tooltipTemplate let-model="model">
              <div class="custom-tooltip">
                <span>{{ model.name }}</span>
                <br />
                <span>{{ model.value | percent }}</span>
              </div>
            </ng-template>
          </ngx-charts-bar-horizontal>
        </div>
      </div>
      <!-- calendario  -->
      <div style="display: flex; margin-bottom: 2%" id="not">
        <div class="calenda" id="letra2" style="flex-basis: 70%">
          <h2 class="titu">Calendario de Actividades</h2>
          <div class="calendar-container">
            <full-calendar [options]="calendarOptions" id="cal">
              <ng-template #fcToolbar>
                <div class="fc-toolbar">
                  <div class="fc-left">
                    <button class="fc-prev-button fc-button fc-button-primary">
                      <span class="fc-icon fc-icon-chevron-left"></span>
                    </button>
                    <button class="fc-next-button fc-button fc-button-primary">
                      <span class="fc-icon fc-icon-chevron-right"></span>
                    </button>
                    <button class="fc-today-button fc-button fc-button-primary">
                      Hoy
                    </button>
                  </div>
                  <div class="fc-center">
                    <span class="fc-title h4"></span>
                  </div>
                  <div class="fc-right">
                    <button
                      class="fc-dayGridMonth-button fc-button fc-button-primary"
                    >
                      Mes
                    </button>
                    <button
                      class="fc-timeGridWeek-button fc-button fc-button-primary"
                    >
                      Semana
                    </button>
                    <button
                      class="fc-timeGridDay-button fc-button fc-button-primary"
                    >
                      Día
                    </button>
                  </div>
                </div>
              </ng-template>
            </full-calendar>
          </div>
        </div>

        <div style="flex-basis: 30%; margin-top: 2%" id="notif">
          <h2>Listado de Notificaciones</h2>
          <div style="height: 620px; overflow-y: auto" id="txt">
            <ul *ngIf="notificaciones && notificaciones.length > 0">
              <li *ngFor="let notificacion of notificaciones">
                <div>
                  {{ notificacion.mensaje }}
                </div>
                <br />
                <div>
                  <i class="far fa-clock mr-1"></i
                  >{{ notificacion.fecha | date : "dd MMM. 'a las' hh:mm a" }}
                </div>
                <hr class="divider" />
                <!-- Agrega la barra separadora solo si no es el último elemento -->
              </li>
            </ul>
            <p *ngIf="!notificaciones || notificaciones.length === 0">
              No hay notificaciones
            </p>
          </div>
        </div>
      </div>
      <div
        style="
          display: flex;
          border-top: thick double #32a1ce;
          margin-bottom: 2%;
        "
      >
        <div style="flex-basis: 70%; border-right: thick double #32a1ce">
          <mat-tab-group id="menu" class="men" [color]="color">
            <!-- Tab para Actividades Aprobadas -->
            <mat-tab label="Actividades Aprobadas">
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">
                  <ng-container matColumnDef="actividad">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td
                      mat-cell
                      *matCellDef="let element; let i = index"
                      [attr.rowspan]="getRowSpan2('actividad', i)"
                      [style.display]="
                        getRowSpan2('actividad', i) ? '' : 'none'
                      "
                    >
                      {{ element.actividades }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="inicio">
                    <th mat-header-cell *matHeaderCellDef>Fecha Inicio</th>
                    <td
                      mat-cell
                      *matCellDef="let element; let i = index"
                      [attr.rowspan]="getRowSpan2('inicio', i)"
                      [style.display]="getRowSpan2('inicio', i) ? '' : 'none'"
                    >
                      {{ element.inicio }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="fin">
                    <th mat-header-cell *matHeaderCellDef>Fecha Fin</th>
                    <td
                      mat-cell
                      *matCellDef="let element; let i = index"
                      [attr.rowspan]="getRowSpan2('fin', i)"
                      [style.display]="getRowSpan2('fin', i) ? '' : 'none'"
                    >
                      {{ element.fin }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="encargado">
                    <th mat-header-cell *matHeaderCellDef>Encargado</th>
                    <td
                      mat-cell
                      *matCellDef="let element; let i = index"
                      [attr.rowspan]="getRowSpan2('encargado', i)"
                      [style.display]="
                        getRowSpan2('encargado', i) ? '' : 'none'
                      "
                    >
                      {{ element.encargado }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="enlace">
                    <th mat-header-cell *matHeaderCellDef>Enlace</th>
                    <td mat-cell *matCellDef="let element">
                      <a
                        [href]="element.enlace"
                        [download]="obtenerNombreArchivo2(element.enlace)"
                      >
                        {{ element.enlace }}
                      </a>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                    class="tab-apr"
                  ></tr>
                </table>

                <mat-paginator
                  [pageSizeOptions]="[5, 10, 20]"
                  showFirstLastButtons
                  aria-label="Seleccione la pagina"
                >
                </mat-paginator>
              </div>
            </mat-tab>

            <!-- Tab para Actividades Rechazadas -->
            <mat-tab label="Actividades Rechazadas">
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource1">
                  <ng-container matColumnDef="actividad">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td
                      mat-cell
                      *matCellDef="let element; let i = index"
                      [attr.rowspan]="getRowSpan('actividad', i)"
                      [style.display]="getRowSpan('actividad', i) ? '' : 'none'"
                    >
                      {{ element.actividades }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="inicio">
                    <th mat-header-cell *matHeaderCellDef>Fecha Inicio</th>
                    <td
                      mat-cell
                      *matCellDef="let element; let i = index"
                      [attr.rowspan]="getRowSpan('inicio', i)"
                      [style.display]="getRowSpan('inicio', i) ? '' : 'none'"
                    >
                      {{ element.inicio }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="fin">
                    <th mat-header-cell *matHeaderCellDef>Fecha Fin</th>
                    <td
                      mat-cell
                      *matCellDef="let element; let i = index"
                      [attr.rowspan]="getRowSpan('fin', i)"
                      [style.display]="getRowSpan('fin', i) ? '' : 'none'"
                    >
                      {{ element.fin }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="encargado">
                    <th mat-header-cell *matHeaderCellDef>Encargado</th>
                    <td
                      mat-cell
                      *matCellDef="let element; let i = index"
                      [attr.rowspan]="getRowSpan('encargado', i)"
                      [style.display]="getRowSpan('encargado', i) ? '' : 'none'"
                    >
                      {{ element.encargado }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="enlace">
                    <th mat-header-cell *matHeaderCellDef>Enlace</th>
                    <td mat-cell *matCellDef="let element">
                      <a
                        [href]="element.enlace"
                        [download]="obtenerNombreArchivo(element.enlace)"
                      >
                        {{ element.enlace }}
                      </a>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                  <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns1"
                    class="tab-rech"
                  ></tr>
                </table>

                <mat-paginator
                  [pageSizeOptions]="[5, 10, 20]"
                  showFirstLastButtons
                  aria-label="Seleccione las actividades"
                >
                </mat-paginator>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>

        <div style="flex-basis: 30%" id="fig5">
          <h3 class="titu" id="graf">Gráfica de Avances desde 0% a 100%</h3>
          <div style="margin-top: 6%">
            <ngx-charts-bar-horizontal
              [view]="[300, 200]"
              [scheme]="colorScheme"
              [results]="avances"
              [xAxis]="true"
              [yAxis]="true"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              [xAxisLabel]="titulo2"
              [yAxisLabel]="titulo3"
              [showDataLabel]="true"
              [barPadding]="4"
              [roundEdges]="true"
              (select)="onSelect($event)"
            >
              <ng-template #tooltipTemplate let-model="model">
                <div class="custom-tooltip">
                  <span>{{ model.name }}</span>
                  <br />
                  <span>{{ model.value / 100 | percent }}</span>
                </div>
              </ng-template>
            </ngx-charts-bar-horizontal>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
